#search_results_row2 #searchheading {
    color: var(--blue)
}

#search_results_row2 .summary {
    font-size: 12px;
}

#search_results_row2 .recommended {
    display: none;
}

#search_results_row2 .result_pagescount {
    margin-bottom: 24px;
}

#search_results_row2 .results .result_title a {
    color: var(--blue);
    font-weight: bold;
}

#search_results_row2 .results .infoline {
    display: none;
}

#search_results_row2 .result_block, #search_results_row2 .result_altblock {
    margin-bottom: 16px;
}

.result_pages {
    color: var(--blue);
}

.result_pages a {
    color: var(--black);
}