/* #solicit_header {
    background-image: url('resources/new_design/images/Aplicari-solicita-cotatie.jpg');
} */

.header {
  height: 500px;
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}

@media (min-width: 768px) {
  .header {
    display: flex;
  }
}

.header h1 {
  position: relative;

  padding: 24px 40px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 0px 0px 5px #000000;
  color: var(--white);
  text-align: center;
}

.header h1::before {
  border-image-width: 8px;
  content: "";
  position: absolute;
  inset: 0;
  padding: 8px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
