.aplicari h1 {
  position: relative;

  padding: 24px 40px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 0px 0px 5px #000000;
  color: var(--white);
}

.aplicari h1::before {
  border-image-width: 8px;
  content: "";
  position: absolute;
  inset: 0;
  padding: 8px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@media screen and (min-width: 640px) {
  .aplicari h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .aplicari h1 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .aplicari h1 {
    font-size: 50px;
  }
}

/* stiluri tabs */
.aplicare_c_red {
  color: #f13627;
}
.aplicare_c_green {
  color: #27ae61;
}
#am h2 {
  color: var(--gold);
}
.aplicare_title_separator {
  width: 50px;
  height: 1px;
  margin-bottom: 10px;
}
.aplicare_separator_green {
  background-color: #27ae61;
  /* height: 0px; */
}
.aplicare_c_orange {
  background-color: #f29800;
  /* height: 0px; */
}
.aplicare_c_blue {
  color: #1976d3;
  /* height: 0px; */
}
.aplicare_separator_red {
  background-color: #f13627;
  /* height: 0px; */
}
.aplicare_separator_blue {
  background-color: #1976d3;
  /* height: 0px; */
}
/* .tab-pane p, .tab-pane h2, .tab-pane h3 {
    padding-left: 20px;
} */
#ap ul,
#al ul,
#ab ul,
#am ul {
  padding-left: 18px;
}
.link_color1 {
  text-decoration: none;
  color: #009;
}
#ap ul li:before,
#al ul li:before,
#ab ul li:before,
#am ul li:before {
  content: "*";
  color: #f13627;
  font-size: 25px;
  position: relative;
  top: 8px;
  margin-right: -10px;
  left: -15px;
}
.aplicari ul {
  margin: 0;
  margin-bottom: 10px;
}
.aplicari li {
  list-style: none;
  margin-left: 40px;
}
.aplicari p {
  margin: 0;
  margin-bottom: 4px;
}
.servicii #ap ul li,
.servicii #al ul li,
.servicii #ab ul li,
.servicii #am ul li {
  list-style: none;
  list-style: square;
}
#am ul li:before {
  color: #f29800;
}
#al ul li:before {
  color: #27ae61;
}
#ab ul li:before {
  color: #1976d3;
}
.subs-attn {
  text-decoration: underline;
}
.aplicare_tab_content_title {
  font-size: 20px;
  margin-bottom: 10px;
}
.descript_par span > amp-img {
  display: inline-block;
  margin-right: 10px;
}
.descript_par {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  #ap,
  #am,
  #al,
  #ab,
  #al2 {
    min-height: 600px;
  }
}
@media (max-width: 992px) {
  .tabbable-panel {
    padding-top: 0px;
  }
  #mod_avl {
    margin-top: 15px;
  }
  .heading_42_fs h1 {
    font-size: 32px;
  }
  .heading_42_fs > div {
    top: -10px;
  }
}
@media (max-width: 767px) {
  .tabButton:nth-of-type(3) {
    border: none;
  }
  .tabButton:nth-of-type(1) {
    border-top: none;
  }
  .outerPanel {
    margin-top: 20px;
  }
  #aspd {
    display: flex;
    flex-direction: column;
  }
  #aspd .pull-left {
    width: 100%;
  }
  #ap ul,
  #al ul,
  #ab ul,
  #am ul,
  #al2 ul {
    padding-left: 0px;
  }
  /* #ap ul li, #al ul li, #ab ul li, #am ul li {
        margin-left: 25px;
    } */
  .tabButton {
    width: 50%;
    border-top: 2px solid white;
  }
  /* .tabbable-line .ampTabContainer div:nth-last-child(2) {
        border-right: 2px solid #ffffff;
    } */
}
@media (max-width: 440px) {
  /* .tabbable-panel {
        margin-top: 35px;
    } */
  .tabButton {
    border-right: 0px;
    width: 100%;
    border-top: 2px solid white;
  }
  .tabButton:nth-of-type(1) {
    border-top: none;
  }
  .tabButton:nth-of-type(3) {
    border-top: 2px solid white;
  }
}

#aplicari_pardoseli_epoxidice_paralax_img {
  background: url(./resources/images/aplicare-pardoseli-epoxidice/Aplicari-pardoseli-epoxidice-industriale.jpg);
}
#aplicare_produs h2 {
  color: #1976d2;
}
.font-xl-red {
  font-size: 2em;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 22px;
  color: #c00000;
  text-decoration: underline;
  margin-top: -30px;
}
#despre_noi_content_wrapper {
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border: #ccc solid 1px;
  border-radius: 15px;
}

.main_aplicare {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
}
.descript_par {
  text-align: justify;
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}
.despre_noi_section {
  margin-bottom: 25px;
}
#aplicare_produs {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 80px;
}
.aplicari_img_thumbnail {
  width: 386px !important;
  height: 297px;
  width: calc(100% - 30px);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #ccc;
}

@media (min-width: 768px) {
  .aplicari .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .aplicari .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .aplicari .container {
    width: 1170px;
  }

  .descript_par {
    padding: 0 10px;
  }
}
.text-center {
  text-align: center;
  width: 100%;
}
#aplicari_vopsele_pardoseli_paralax_img {
  background: url(./resources/images/aplicari-vopsele-pardoseli/Vopsire-epoxidica-hala-industriala-servicii.jpg);
}

/* headers */
/* .header_img_bg {
  height: 500px;
  display: none;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .header_img_bg {
    display: flex;
  }
} */

.section-title {
  text-decoration: underline;
  font-size: 2em;
  color: #1976d2;
}

#mod_avl {
  background-image: url("resources/images/aplicare/Aplicare-vopsele-lavabile.jpg");
}
#mod_aed {
  background-image: url("resources/images/aplicare/Aplicare-vopsea-decorativa.jpg");
}
#mod_ala {
  background-image: url("resources/images/aplicare/Aplicare-lacuri-lemn.jpg");
}
#mod_atd {
  background-image: url("resources/images/aplicare/Aplicare-tencuiala-decorativa.jpg");
}
#mod_avg {
  background-image: url("resources/images/aplicare/Vopsiri-epoxidice-poliuretanice.jpg");
}
#mod_avp {
  background-image: url("resources/images/aplicare/Vopsea-epoxidica-de-pardoselala.jpg");
}
#mod_avm {
  background-image: url("resources/images/aplicare/Aplicare-trafic-rutier.jpg");
}
#mod_apa {
  background-image: url("resources/images/aplicare/Pardoseala-Decorativa.jpg");
}
#mod_amh {
  background-image: url("resources/images/aplicare/Protectie-intemperii.jpg");
}
#mod_avh {
  background-image: url("resources/images/aplicare/Aplicare-vopsele-hidrosolubile.jpg");
}
