.fatade-Bright-tab {
  background-color: #f9cd25;
}

.fatade-Accent-tab {
  background-color: #173959;
}

.fatade-MoonLight-tab {
  background-color: #757452;
}

.fatade-Natural-tab {
  background-color: #5c5742;
}

.fatade-Sunrise-tab {
  background-color: #bc8f24;
}

.fatade-CSoft-tab {
  background-color: #1f7a27;
}

.fatade-Bright-tab.active,
.fatade-Bright-tab:hover {
  background-color: #ffe476;
}

.fatade-Accent-tab.active,
.fatade-Accent-tab:hover {
  background-color: #355779;
}

.fatade-MoonLight-tab.active,
.fatade-MoonLight-tab:hover {
  background-color: #949373;
}

.fatade-Natural-tab.active,
.fatade-Natural-tab:hover {
  background-color: #817957;
}

.fatade-Sunrise-tab.active,
.fatade-Sunrise-tab:hover {
  background-color: #d6b056;
}

.fatade-CSoft-tab.active,
.fatade-CSoft-tab:hover {
  background-color: #58a75e;
}

.ABC-0xf2e8f5 {
  background-color: #f2e8f5;
}
.ABC-0xebdff1 {
  background-color: #ebdff1;
}
.ABC-0xe5c0f8 {
  background-color: #e5c0f8;
}
.ABC-0xb8a5d9 {
  background-color: #b8a5d9;
}
.ABC-0x886ead {
  background-color: #886ead;
}
.ABC-0x583a78 {
  background-color: #583a78;
}
.ABC-0xfbe5f5 {
  background-color: #fbe5f5;
}
.ABC-0xf6dbf2 {
  background-color: #f6dbf2;
}
.ABC-0xe0bce4 {
  background-color: #e0bce4;
}
.ABC-0xc490cd {
  background-color: #c490cd;
}
.ABC-0x904c94 {
  background-color: #904c94;
}
.ABC-0x67256c {
  background-color: #67256c;
}
.ABC-0xfde6f6 {
  background-color: #fde6f6;
}
.ABC-0xfcddf3 {
  background-color: #fcddf3;
}
.ABC-0xecbfe6 {
  background-color: #ecbfe6;
}
.ABC-0xd793d2 {
  background-color: #d793d2;
}
.ABC-0xb1499a {
  background-color: #b1499a;
}
.ABC-0x821c6a {
  background-color: #821c6a;
}
.ABC-0xffedfb {
  background-color: #ffedfb;
}
.ABC-0xfcd8ed {
  background-color: #fcd8ed;
}
.ABC-0xfab7df {
  background-color: #fab7df;
}
.ABC-0xf289c5 {
  background-color: #f289c5;
}
.ABC-0xd43684 {
  background-color: #d43684;
}
.ABC-0xc31658 {
  background-color: #c31658;
}
.ABC-0xfff0fb {
  background-color: #fff0fb;
}
.ABC-0xfcd8e9 {
  background-color: #fcd8e9;
}
.ABC-0xfabcdb {
  background-color: #fabcdb;
}
.ABC-0xf090bc {
  background-color: #f090bc;
}
.ABC-0xd44177 {
  background-color: #d44177;
}
.ABC-0xc41a49 {
  background-color: #c41a49;
}
.ABC-0xffeff8 {
  background-color: #ffeff8;
}
.ABC-0xfcdae4 {
  background-color: #fcdae4;
}
.ABC-0xfabbd2 {
  background-color: #fabbd2;
}
.ABC-0xf288a3 {
  background-color: #f288a3;
}
.ABC-0xda304d {
  background-color: #da304d;
}
.ABC-0xbf0d1a {
  background-color: #bf0d1a;
}
.ABC-0xfeecf0 {
  background-color: #feecf0;
}
.ABC-0xfcd6dd {
  background-color: #fcd6dd;
}
.ABC-0xf9b5c2 {
  background-color: #f9b5c2;
}
.ABC-0xfac3bd {
  background-color: #fac3bd;
}
.ABC-0xf68494 {
  background-color: #f68494;
}
.ABC-0xd70e10 {
  background-color: #d70e10;
}
.ABC-0xfee6e8 {
  background-color: #fee6e8;
}
.ABC-0xfddbdc {
  background-color: #fddbdc;
}
.ABC-0xfab9bb {
  background-color: #fab9bb;
}
.ABC-0xef898b {
  background-color: #ef898b;
}
.ABC-0xd74a48 {
  background-color: #d74a48;
}
.ABC-0xc41b17 {
  background-color: #c41b17;
}
.ABC-0xfeeae7 {
  background-color: #feeae7;
}
.ABC-0xfcdad7 {
  background-color: #fcdad7;
}
.ABC-0xfac3bd {
  background-color: #fac3bd;
}
.ABC-0xf29589 {
  background-color: #f29589;
}
.ABC-0xde4f40 {
  background-color: #de4f40;
}
.ABC-0xd01b0f {
  background-color: #d01b0f;
}
.ABC-0xfeefe9 {
  background-color: #feefe9;
}
.ABC-0xfee4dc {
  background-color: #fee4dc;
}
.ABC-0xfcd5c6 {
  background-color: #fcd5c6;
}
.ABC-0xf9b099 {
  background-color: #f9b099;
}
.ABC-0xe17357 {
  background-color: #e17357;
}
.ABC-0xd8431b {
  background-color: #d8431b;
}
.ABC-0xfff5ed {
  background-color: #fff5ed;
}
.ABC-0xfff0e4 {
  background-color: #fff0e4;
}
.ABC-0xfddcc4 {
  background-color: #fddcc4;
}
.ABC-0xf9ae8e {
  background-color: #f9ae8e;
}
.ABC-0xe17357 {
  background-color: #e17357;
}
.ABC-0xdc5218 {
  background-color: #dc5218;
}
.ABC-0xfef8eb {
  background-color: #fef8eb;
}
.ABC-0xffebdc {
  background-color: #ffebdc;
}
.ABC-0xfddfce {
  background-color: #fddfce;
}
.ABC-0xf7b791 {
  background-color: #f7b791;
}
.ABC-0xec864f {
  background-color: #ec864f;
}
.ABC-0xe1611b {
  background-color: #e1611b;
}
.ABC-0xfffcf2 {
  background-color: #fffcf2;
}
.ABC-0xfee8d5 {
  background-color: #fee8d5;
}
.ABC-0xf9d0ac {
  background-color: #f9d0ac;
}
.ABC-0xe9ad7a {
  background-color: #e9ad7a;
}
.ABC-0xd4823f {
  background-color: #d4823f;
}
.ABC-0xc9671d {
  background-color: #c9671d;
}
.ABC-0xfef5e6 {
  background-color: #fef5e6;
}
.ABC-0xfee7d3 {
  background-color: #fee7d3;
}
.ABC-0xfbd3a9 {
  background-color: #fbd3a9;
}
.ABC-0xefba82 {
  background-color: #efba82;
}
.ABC-0xde9750 {
  background-color: #de9750;
}
.ABC-0xcd6314 {
  background-color: #cd6314;
}
.ABC-0xfff6e6 {
  background-color: #fff6e6;
}
.ABC-0xfee7d4 {
  background-color: #fee7d4;
}
.ABC-0xfddcb8 {
  background-color: #fddcb8;
}
.ABC-0xf9b06c {
  background-color: #f9b06c;
}
.ABC-0xed882a {
  background-color: #ed882a;
}
.ABC-0xe25b0c {
  background-color: #e25b0c;
}
.ABC-0xfff7e4 {
  background-color: #fff7e4;
}
.ABC-0xfff0da {
  background-color: #fff0da;
}
.ABC-0xfee3bb {
  background-color: #fee3bb;
}
.ABC-0xfbca86 {
  background-color: #fbca86;
}
.ABC-0xf8a432 {
  background-color: #f8a432;
}
.ABC-0xf18100 {
  background-color: #f18100;
}
.ABC-0xfffce4 {
  background-color: #fffce4;
}
.ABC-0xfff5d1 {
  background-color: #fff5d1;
}
.ABC-0xffecb4 {
  background-color: #ffecb4;
}
.ABC-0xfde185 {
  background-color: #fde185;
}
.ABC-0xf2c22f {
  background-color: #f2c22f;
}
.ABC-0xe3a407 {
  background-color: #e3a407;
}
.ABC-0xfefde8 {
  background-color: #fefde8;
}
.ABC-0xfffbda {
  background-color: #fffbda;
}
.ABC-0xfef0af {
  background-color: #fef0af;
}
.ABC-0xfbe589 {
  background-color: #fbe589;
}
.ABC-0xefd03a {
  background-color: #efd03a;
}
.ABC-0xe6b60d {
  background-color: #e6b60d;
}
.ABC-0xfffee8 {
  background-color: #fffee8;
}
.ABC-0xfffedf {
  background-color: #fffedf;
}
.ABC-0xfff9be {
  background-color: #fff9be;
}
.ABC-0xfeed8e {
  background-color: #feed8e;
}
.ABC-0xf7db40 {
  background-color: #f7db40;
}
.ABC-0xf2ca0e {
  background-color: #f2ca0e;
}
.ABC-0xfffede {
  background-color: #fffede;
}
.ABC-0xfffac2 {
  background-color: #fffac2;
}
.ABC-0xf0ea8f {
  background-color: #f0ea8f;
}
.ABC-0xdee16b {
  background-color: #dee16b;
}
.ABC-0xd1d243 {
  background-color: #d1d243;
}
.ABC-0xc4be1d {
  background-color: #c4be1d;
}
.ABC-0xfdfddd {
  background-color: #fdfddd;
}
.ABC-0xfdfddd {
  background-color: #fdfddd;
}
.ABC-0xeaf095 {
  background-color: #eaf095;
}
.ABC-0xd7e36b {
  background-color: #d7e36b;
}
.ABC-0xc3d53d {
  background-color: #c3d53d;
}
.ABC-0xaec515 {
  background-color: #aec515;
}
.ABC-0xfefde3 {
  background-color: #fefde3;
}
.ABC-0xf6fad1 {
  background-color: #f6fad1;
}
.ABC-0xdceea4 {
  background-color: #dceea4;
}
.ABC-0xcee383 {
  background-color: #cee383;
}
.ABC-0xb4d556 {
  background-color: #b4d556;
}
.ABC-0x8fb626 {
  background-color: #8fb626;
}
.ABC-0xfefee6 {
  background-color: #fefee6;
}
.ABC-0xf2fdd6 {
  background-color: #f2fdd6;
}
.ABC-0xd6f1ae {
  background-color: #d6f1ae;
}
.ABC-0xc4e68c {
  background-color: #c4e68c;
}
.ABC-0xaad863 {
  background-color: #aad863;
}
.ABC-0x89bf31 {
  background-color: #89bf31;
}
.ABC-0xfdfee3 {
  background-color: #fdfee3;
}
.ABC-0xecfed0 {
  background-color: #ecfed0;
}
.ABC-0xd4faa5 {
  background-color: #d4faa5;
}
.ABC-0xbfef83 {
  background-color: #bfef83;
}
.ABC-0xa7e55b {
  background-color: #a7e55b;
}
.ABC-0x87d932 {
  background-color: #87d932;
}
.ABC-0xeffce4 {
  background-color: #effce4;
}
.ABC-0xd7f4d1 {
  background-color: #d7f4d1;
}
.ABC-0xc6ebb6 {
  background-color: #c6ebb6;
}
.ABC-0xa2da87 {
  background-color: #a2da87;
}
.ABC-0x7abc55 {
  background-color: #7abc55;
}
.ABC-0x549f30 {
  background-color: #549f30;
}
.ABC-0xecffe8 {
  background-color: #ecffe8;
}
.ABC-0xd5fedb {
  background-color: #d5fedb;
}
.ABC-0xb5f3b8 {
  background-color: #b5f3b8;
}
.ABC-0x93e28c {
  background-color: #93e28c;
}
.ABC-0x5fc048 {
  background-color: #5fc048;
}
.ABC-0x47a837 {
  background-color: #47a837;
}
.ABC-0xe9fef1 {
  background-color: #e9fef1;
}
.ABC-0xd5fee6 {
  background-color: #d5fee6;
}
.ABC-0xb0f6cd {
  background-color: #b0f6cd;
}
.ABC-0x89e6a3 {
  background-color: #89e6a3;
}
.ABC-0x5ece6e {
  background-color: #5ece6e;
}
.ABC-0x37a83d {
  background-color: #37a83d;
}
.ABC-0xeafff3 {
  background-color: #eafff3;
}
.ABC-0xcefae4 {
  background-color: #cefae4;
}
.ABC-0xb6f3d8 {
  background-color: #b6f3d8;
}
.ABC-0x8fe1b4 {
  background-color: #8fe1b4;
}
.ABC-0x5cbb77 {
  background-color: #5cbb77;
}
.ABC-0x5cbb77 {
  background-color: #5cbb77;
}
.ABC-0xdffef5 {
  background-color: #dffef5;
}
.ABC-0xcafcef {
  background-color: #cafcef;
}
.ABC-0xacf1e1 {
  background-color: #acf1e1;
}
.ABC-0x84ddc6 {
  background-color: #84ddc6;
}
.ABC-0x5dc2a0 {
  background-color: #5dc2a0;
}
.ABC-0x2d8d61 {
  background-color: #2d8d61;
}
.ABC-0xe1fefc {
  background-color: #e1fefc;
}
.ABC-0xc9fcf8 {
  background-color: #c9fcf8;
}
.ABC-0xaaefec {
  background-color: #aaefec;
}
.ABC-0x7ddcda {
  background-color: #7ddcda;
}
.ABC-0x54c0ba {
  background-color: #54c0ba;
}
.ABC-0x2d9287 {
  background-color: #2d9287;
}
.ABC-0xdafbfb {
  background-color: #dafbfb;
}
.ABC-0xccf7f9 {
  background-color: #ccf7f9;
}
.ABC-0xace8ed {
  background-color: #ace8ed;
}
.ABC-0x82d6df {
  background-color: #82d6df;
}
.ABC-0x56b0c1 {
  background-color: #56b0c1;
}
.ABC-0x368b9b {
  background-color: #368b9b;
}
.ABC-0xe5fcfe {
  background-color: #e5fcfe;
}
.ABC-0xd1f7fd {
  background-color: #d1f7fd;
}
.ABC-0xace6f6 {
  background-color: #ace6f6;
}
.ABC-0x81cce5 {
  background-color: #81cce5;
}
.ABC-0x54a5d0 {
  background-color: #54a5d0;
}
.ABC-0x3a86b2 {
  background-color: #3a86b2;
}
.ABC-0xdaf8fc {
  background-color: #daf8fc;
}
.ABC-0xd0f6fe {
  background-color: #d0f6fe;
}
.ABC-0xb0e7fd {
  background-color: #b0e7fd;
}
.ABC-0x85d0f2 {
  background-color: #85d0f2;
}
.ABC-0x4a99dd {
  background-color: #4a99dd;
}
.ABC-0x2c75c4 {
  background-color: #2c75c4;
}
.ABC-0xdbf5fd {
  background-color: #dbf5fd;
}
.ABC-0xc8eafa {
  background-color: #c8eafa;
}
.ABC-0xa8daf4 {
  background-color: #a8daf4;
}
.ABC-0x7cb8e5 {
  background-color: #7cb8e5;
}
.ABC-0x4c8acb {
  background-color: #4c8acb;
}
.ABC-0x2e63a9 {
  background-color: #2e63a9;
}
.ABC-0xe1f0fb {
  background-color: #e1f0fb;
}
.ABC-0xcce4fa {
  background-color: #cce4fa;
}
.ABC-0xadd2f0 {
  background-color: #add2f0;
}
.ABC-0x81acde {
  background-color: #81acde;
}
.ABC-0x4f7bc2 {
  background-color: #4f7bc2;
}
.ABC-0x3355a0 {
  background-color: #3355a0;
}
.ABC-0xe5f0fe {
  background-color: #e5f0fe;
}
.ABC-0xd2e3f9 {
  background-color: #d2e3f9;
}
.ABC-0xb6cfee {
  background-color: #b6cfee;
}
.ABC-0x8daade {
  background-color: #8daade;
}
.ABC-0x5a76b9 {
  background-color: #5a76b9;
}
.ABC-0x3c549a {
  background-color: #3c549a;
}
.ABC-0xecf0fc {
  background-color: #ecf0fc;
}
.ABC-0xd4e1f6 {
  background-color: #d4e1f6;
}
.ABC-0xbbcbed {
  background-color: #bbcbed;
}
.ABC-0x91a1dd {
  background-color: #91a1dd;
}
.ABC-0x5b6cb4 {
  background-color: #5b6cb4;
}
.ABC-0x37448f {
  background-color: #37448f;
}
.ABC-0xf1f2fe {
  background-color: #f1f2fe;
}
.ABC-0xdae1f6 {
  background-color: #dae1f6;
}
.ABC-0xc0cbed {
  background-color: #c0cbed;
}
.ABC-0x9ba4de {
  background-color: #9ba4de;
}
.ABC-0x696fb6 {
  background-color: #696fb6;
}
.ABC-0x3f3f88 {
  background-color: #3f3f88;
}
.ABC-0x03305d {
  background-color: #03305d;
}
.ABC-0x002f78 {
  background-color: #002f78;
}
.ABC-0x032d85 {
  background-color: #032d85;
}
.ABC-0x5f5198 {
  background-color: #5f5198;
}
.ABC-0x45338a {
  background-color: #45338a;
}
.ABC-0x443059 {
  background-color: #443059;
}
.ABC-0x43244f {
  background-color: #43244f;
}
.ABC-0x683278 {
  background-color: #683278;
}
.ABC-0x0652b0 {
  background-color: #0652b0;
}
.ABC-0x0075c8 {
  background-color: #0075c8;
}
.ABC-0x00629f {
  background-color: #00629f;
}
.ABC-0x006e90 {
  background-color: #006e90;
}
.ABC-0x008fab {
  background-color: #008fab;
}
.ABC-0x007577 {
  background-color: #007577;
}
.ABC-0x263a42 {
  background-color: #263a42;
}
.ABC-0x1e4332 {
  background-color: #1e4332;
}
.ABC-0xffa700 {
  background-color: #ffa700;
}
.ABC-0xffc900 {
  background-color: #ffc900;
}
.ABC-0xf6d300 {
  background-color: #f6d300;
}
.ABC-0xbccd25 {
  background-color: #bccd25;
}
.ABC-0x8eb226 {
  background-color: #8eb226;
}
.ABC-0x20ae42 {
  background-color: #20ae42;
}
.ABC-0x00803b {
  background-color: #00803b;
}
.ABC-0x006644 {
  background-color: #006644;
}
.ABC-0xff8617 {
  background-color: #ff8617;
}
.ABC-0xe94c13 {
  background-color: #e94c13;
}
.ABC-0xe54431 {
  background-color: #e54431;
}
.ABC-0xd53136 {
  background-color: #d53136;
}
.ABC-0xe32732 {
  background-color: #e32732;
}
.ABC-0x843036 {
  background-color: #843036;
}
.ABC-0x942031 {
  background-color: #942031;
}
.ABC-0xb43377 {
  background-color: #b43377;
}
.ABC-0x902f19 {
  background-color: #902f19;
}
.ABC-0x703228 {
  background-color: #703228;
}
.ABC-0x582729 {
  background-color: #582729;
}
.ABC-0x5b312d {
  background-color: #5b312d;
}
.ABC-0x512e28 {
  background-color: #512e28;
}
.ABC-0x4e3437 {
  background-color: #4e3437;
}
.ABC-0x5a3641 {
  background-color: #5a3641;
}
.ABC-0x56273c {
  background-color: #56273c;
}
.ABC-0x0b0909 {
  background-color: #0b0909;
}
.ABC-0x040002 {
  background-color: #040002;
}
.ABC-0x39251b {
  background-color: #39251b;
}
.ABC-0x30242a {
  background-color: #30242a;
}
.ABC-0x252230 {
  background-color: #252230;
}
.ABC-0x29233f {
  background-color: #29233f;
}
.ABC-0x161729 {
  background-color: #161729;
}
.ABC-0x483740 {
  background-color: #483740;
}
.ABC-0xfaf1fa {
  background-color: #faf1fa;
}
.ABC-0xeee4f4 {
  background-color: #eee4f4;
}
.ABC-0xcdc1dc {
  background-color: #cdc1dc;
}
.ABC-0x9a8fb1 {
  background-color: #9a8fb1;
}
.ABC-0x4b405e {
  background-color: #4b405e;
}
.ABC-0x301e40 {
  background-color: #301e40;
}
.ABC-0xfbebf9 {
  background-color: #fbebf9;
}
.ABC-0xecd6e8 {
  background-color: #ecd6e8;
}
.ABC-0xc6a8c5 {
  background-color: #c6a8c5;
}
.ABC-0x927391 {
  background-color: #927391;
}
.ABC-0x694762 {
  background-color: #694762;
}
.ABC-0x360323 {
  background-color: #360323;
}
.ABC-0xfff1fd {
  background-color: #fff1fd;
}
.ABC-0xfee0f0 {
  background-color: #fee0f0;
}
.ABC-0xeeb8d3 {
  background-color: #eeb8d3;
}
.ABC-0xc884a5 {
  background-color: #c884a5;
}
.ABC-0x7a3652 {
  background-color: #7a3652;
}
.ABC-0x440114 {
  background-color: #440114;
}
.ABC-0xfffbfe {
  background-color: #fffbfe;
}
.ABC-0xfedfea {
  background-color: #fedfea;
}
.ABC-0xebb3c6 {
  background-color: #ebb3c6;
}
.ABC-0xc37f93 {
  background-color: #c37f93;
}
.ABC-0x813443 {
  background-color: #813443;
}
.ABC-0x5b040f {
  background-color: #5b040f;
}
.ABC-0xfff4f8 {
  background-color: #fff4f8;
}
.ABC-0xfadadd {
  background-color: #fadadd;
}
.ABC-0xdfafb4 {
  background-color: #dfafb4;
}
.ABC-0xb47e85 {
  background-color: #b47e85;
}
.ABC-0x74383b {
  background-color: #74383b;
}
.ABC-0x581818 {
  background-color: #581818;
}
.ABC-0xfff3f4 {
  background-color: #fff3f4;
}
.ABC-0xf6d5d5 {
  background-color: #f6d5d5;
}
.ABC-0xdba9a9 {
  background-color: #dba9a9;
}
.ABC-0xae7575 {
  background-color: #ae7575;
}
.ABC-0x6e2f2a {
  background-color: #6e2f2a;
}
.ABC-0x621003 {
  background-color: #621003;
}
.ABC-0xfffbf9 {
  background-color: #fffbf9;
}
.ABC-0xf6d9d7 {
  background-color: #f6d9d7;
}
.ABC-0xe1babb {
  background-color: #e1babb;
}
.ABC-0xaa7c7d {
  background-color: #aa7c7d;
}
.ABC-0x6b3835 {
  background-color: #6b3835;
}
.ABC-0x4a1208 {
  background-color: #4a1208;
}
.ABC-0xfffdf9 {
  background-color: #fffdf9;
}
.ABC-0xf6e4de {
  background-color: #f6e4de;
}
.ABC-0xdbbcb6 {
  background-color: #dbbcb6;
}
.ABC-0xad8b82 {
  background-color: #ad8b82;
}
.ABC-0x6c4539 {
  background-color: #6c4539;
}
.ABC-0x572b1b {
  background-color: #572b1b;
}
.ABC-0xfff7f3 {
  background-color: #fff7f3;
}
.ABC-0xf8dfda {
  background-color: #f8dfda;
}
.ABC-0xdfb8b3 {
  background-color: #dfb8b3;
}
.ABC-0xb1837f {
  background-color: #b1837f;
}
.ABC-0x6e4037 {
  background-color: #6e4037;
}
.ABC-0x501a04 {
  background-color: #501a04;
}
.ABC-0xfff6f1 {
  background-color: #fff6f1;
}
.ABC-0xffe6dd {
  background-color: #ffe6dd;
}
.ABC-0xefbeb2 {
  background-color: #efbeb2;
}
.ABC-0xc88a7d {
  background-color: #c88a7d;
}
.ABC-0x874438 {
  background-color: #874438;
}
.ABC-0x612209 {
  background-color: #612209;
}
.ABC-0xfffdf9 {
  background-color: #fffdf9;
}
.ABC-0xfee6d8 {
  background-color: #fee6d8;
}
.ABC-0xf1c4b0 {
  background-color: #f1c4b0;
}
.ABC-0xcb8e7a {
  background-color: #cb8e7a;
}
.ABC-0x8d4c34 {
  background-color: #8d4c34;
}
.ABC-0x69280a {
  background-color: #69280a;
}
.ABC-0xffefdc {
  background-color: #ffefdc;
}
.ABC-0xf8d9bd {
  background-color: #f8d9bd;
}
.ABC-0xdfb18f {
  background-color: #dfb18f;
}
.ABC-0xc28b66 {
  background-color: #c28b66;
}
.ABC-0x90552c {
  background-color: #90552c;
}
.ABC-0x5b1f00 {
  background-color: #5b1f00;
}
.ABC-0xfff4e4 {
  background-color: #fff4e4;
}
.ABC-0xf7dbc0 {
  background-color: #f7dbc0;
}
.ABC-0xe0b89a {
  background-color: #e0b89a;
}
.ABC-0xc49877 {
  background-color: #c49877;
}
.ABC-0x92633e {
  background-color: #92633e;
}
.ABC-0x6e3f1f {
  background-color: #6e3f1f;
}
.ABC-0xfffce4 {
  background-color: #fffce4;
}
.ABC-0xfee5be {
  background-color: #fee5be;
}
.ABC-0xefc795 {
  background-color: #efc795;
}
.ABC-0xdda970 {
  background-color: #dda970;
}
.ABC-0xab6f2c {
  background-color: #ab6f2c;
}
.ABC-0x713700 {
  background-color: #713700;
}
.ABC-0xfef1e6 {
  background-color: #fef1e6;
}
.ABC-0xf1d7c5 {
  background-color: #f1d7c5;
}
.ABC-0xcda891 {
  background-color: #cda891;
}
.ABC-0xae856d {
  background-color: #ae856d;
}
.ABC-0x8a6246 {
  background-color: #8a6246;
}
.ABC-0x663f22 {
  background-color: #663f22;
}
.ABC-0xfffeef {
  background-color: #fffeef;
}
.ABC-0xfeead3 {
  background-color: #feead3;
}
.ABC-0xe7c4a2 {
  background-color: #e7c4a2;
}
.ABC-0xc1956e {
  background-color: #c1956e;
}
.ABC-0xa1744c {
  background-color: #a1744c;
}
.ABC-0x643900 {
  background-color: #643900;
}
.ABC-0xfffef7 {
  background-color: #fffef7;
}
.ABC-0xfff7e4 {
  background-color: #fff7e4;
}
.ABC-0xf5ddbd {
  background-color: #f5ddbd;
}
.ABC-0xd3b088 {
  background-color: #d3b088;
}
.ABC-0x9c744a {
  background-color: #9c744a;
}
.ABC-0x724c21 {
  background-color: #724c21;
}
.ABC-0xfffff3 {
  background-color: #fffff3;
}
.ABC-0xfff8df {
  background-color: #fff8df;
}
.ABC-0xf1d4a5 {
  background-color: #f1d4a5;
}
.ABC-0xcfa56c {
  background-color: #cfa56c;
}
.ABC-0x936d3a {
  background-color: #936d3a;
}
.ABC-0x6c4b06 {
  background-color: #6c4b06;
}
.ABC-0xfffff1 {
  background-color: #fffff1;
}
.ABC-0xfff6d3 {
  background-color: #fff6d3;
}
.ABC-0xf3d99e {
  background-color: #f3d99e;
}
.ABC-0xd7b069 {
  background-color: #d7b069;
}
.ABC-0xad802f {
  background-color: #ad802f;
}
.ABC-0x815c00 {
  background-color: #815c00;
}
.ABC-0xfff8e5 {
  background-color: #fff8e5;
}
.ABC-0xf0e0c2 {
  background-color: #f0e0c2;
}
.ABC-0xcab18a {
  background-color: #cab18a;
}
.ABC-0xb19362 {
  background-color: #b19362;
}
.ABC-0x8d6f40 {
  background-color: #8d6f40;
}
.ABC-0x6b4e20 {
  background-color: #6b4e20;
}
.ABC-0xfffff6 {
  background-color: #fffff6;
}
.ABC-0xfef7e1 {
  background-color: #fef7e1;
}
.ABC-0xf3f1de {
  background-color: #f3f1de;
}
.ABC-0xbea87b {
  background-color: #bea87b;
}
.ABC-0x887144 {
  background-color: #887144;
}
.ABC-0x4f3903 {
  background-color: #4f3903;
}
.ABC-0xfffeea {
  background-color: #fffeea;
}
.ABC-0xf7ecc4 {
  background-color: #f7ecc4;
}
.ABC-0xd6c78f {
  background-color: #d6c78f;
}
.ABC-0xa79758 {
  background-color: #a79758;
}
.ABC-0x887144 {
  background-color: #887144;
}
.ABC-0x4f3903 {
  background-color: #4f3903;
}
.ABC-0xfefce6 {
  background-color: #fefce6;
}
.ABC-0xdfdaac {
  background-color: #dfdaac;
}
.ABC-0xb3af74 {
  background-color: #b3af74;
}
.ABC-0x9a9255 {
  background-color: #9a9255;
}
.ABC-0x7a7535 {
  background-color: #7a7535;
}
.ABC-0x474201 {
  background-color: #474201;
}
.ABC-0xfefdf5 {
  background-color: #fefdf5;
}
.ABC-0xf9f2e3 {
  background-color: #f9f2e3;
}
.ABC-0xe1d8c1 {
  background-color: #e1d8c1;
}
.ABC-0xb5a98e {
  background-color: #b5a98e;
}
.ABC-0x6e6344 {
  background-color: #6e6344;
}
.ABC-0x4a4020 {
  background-color: #4a4020;
}
.ABC-0xfffef8 {
  background-color: #fffef8;
}
.ABC-0xf3f1de {
  background-color: #f3f1de;
}
.ABC-0xcfcdb2 {
  background-color: #cfcdb2;
}
.ABC-0x9f9e7f {
  background-color: #9f9e7f;
}
.ABC-0x676943 {
  background-color: #676943;
}
.ABC-0x3b411b {
  background-color: #3b411b;
}
.ABC-0xfffefa {
  background-color: #fffefa;
}
.ABC-0xf8fbe6 {
  background-color: #f8fbe6;
}
.ABC-0xdde5c3 {
  background-color: #dde5c3;
}
.ABC-0xb3bd92 {
  background-color: #b3bd92;
}
.ABC-0x6d7846 {
  background-color: #6d7846;
}
.ABC-0x465018 {
  background-color: #465018;
}
.ABC-0xfffffe {
  background-color: #fffffe;
}
.ABC-0xfbfeed {
  background-color: #fbfeed;
}
.ABC-0xd1e5c2 {
  background-color: #d1e5c2;
}
.ABC-0x97b585 {
  background-color: #97b585;
}
.ABC-0x607d4c {
  background-color: #607d4c;
}
.ABC-0x324d1b {
  background-color: #324d1b;
}
.ABC-0xfefefa {
  background-color: #fefefa;
}
.ABC-0xeef9eb {
  background-color: #eef9eb;
}
.ABC-0xcee4cd {
  background-color: #cee4cd;
}
.ABC-0x99b99a {
  background-color: #99b99a;
}
.ABC-0x4f6d4b {
  background-color: #4f6d4b;
}
.ABC-0x2a4624 {
  background-color: #2a4624;
}
.ABC-0xf7fffb {
  background-color: #f7fffb;
}
.ABC-0xdff9ea {
  background-color: #dff9ea;
}
.ABC-0xb7e2c9 {
  background-color: #b7e2c9;
}
.ABC-0x83b897 {
  background-color: #83b897;
}
.ABC-0x3f704c {
  background-color: #3f704c;
}
.ABC-0x1c4421 {
  background-color: #1c4421;
}
.ABC-0xfcfffe {
  background-color: #fcfffe;
}
.ABC-0xe1fdf2 {
  background-color: #e1fdf2;
}
.ABC-0xbae9d8 {
  background-color: #bae9d8;
}
.ABC-0x84c0a8 {
  background-color: #84c0a8;
}
.ABC-0x3e7757 {
  background-color: #3e7757;
}
.ABC-0x1c4d30 {
  background-color: #1c4d30;
}
.ABC-0xf9fefe {
  background-color: #f9fefe;
}
.ABC-0xe5fbf7 {
  background-color: #e5fbf7;
}
.ABC-0xbee4e1 {
  background-color: #bee4e1;
}
.ABC-0x79a9a4 {
  background-color: #79a9a4;
}
.ABC-0x4a776f {
  background-color: #4a776f;
}
.ABC-0x2c554d {
  background-color: #2c554d;
}
.ABC-0xf2ffff {
  background-color: #f2ffff;
}
.ABC-0xd2f8fb {
  background-color: #d2f8fb;
}
.ABC-0x90ccd7 {
  background-color: #90ccd7;
}
.ABC-0x5f9fab {
  background-color: #5f9fab;
}
.ABC-0x336a74 {
  background-color: #336a74;
}
.ABC-0x033640 {
  background-color: #033640;
}
.ABC-0xeeffff {
  background-color: #eeffff;
}
.ABC-0xc5f5fd {
  background-color: #c5f5fd;
}
.ABC-0x9de0ed {
  background-color: #9de0ed;
}
.ABC-0x6bb6cc {
  background-color: #6bb6cc;
}
.ABC-0x3a7f93 {
  background-color: #3a7f93;
}
.ABC-0x094052 {
  background-color: #094052;
}
.ABC-0xf1feff {
  background-color: #f1feff;
}
.ABC-0xcff2fe {
  background-color: #cff2fe;
}
.ABC-0xa3d7f6 {
  background-color: #a3d7f6;
}
.ABC-0x6da5d1 {
  background-color: #6da5d1;
}
.ABC-0x2a5884 {
  background-color: #2a5884;
}
.ABC-0x002e54 {
  background-color: #002e54;
}
.ABC-0xf7feff {
  background-color: #f7feff;
}
.ABC-0xdff1fe {
  background-color: #dff1fe;
}
.ABC-0xb4d3f3 {
  background-color: #b4d3f3;
}
.ABC-0x7da4d4 {
  background-color: #7da4d4;
}
.ABC-0x4d71a4 {
  background-color: #4d71a4;
}
.ABC-0x072d5a {
  background-color: #072d5a;
}
.ABC-0xfcfeff {
  background-color: #fcfeff;
}
.ABC-0xe5f0ff {
  background-color: #e5f0ff;
}
.ABC-0xbad2f3 {
  background-color: #bad2f3;
}
.ABC-0x85a2d7 {
  background-color: #85a2d7;
}
.ABC-0x5471aa {
  background-color: #5471aa;
}
.ABC-0x153162 {
  background-color: #153162;
}
.ABC-0xf4f7ff {
  background-color: #f4f7ff;
}
.ABC-0xe9eefe {
  background-color: #e9eefe;
}
.ABC-0xc2cff2 {
  background-color: #c2cff2;
}
.ABC-0x8fa0d4 {
  background-color: #8fa0d4;
}
.ABC-0x5769a1 {
  background-color: #5769a1;
}
.ABC-0x142455 {
  background-color: #142455;
}
.ABC-0xfcf8ff {
  background-color: #fcf8ff;
}
.ABC-0xf2ebfa {
  background-color: #f2ebfa;
}
.ABC-0xd5cce7 {
  background-color: #d5cce7;
}
.ABC-0x8f88ae {
  background-color: #8f88ae;
}
.ABC-0x5c557a {
  background-color: #5c557a;
}
.ABC-0x383052 {
  background-color: #383052;
}
.ABC-0xe8dce7 {
  background-color: #e8dce7;
}
.ABC-0xddd2e0 {
  background-color: #ddd2e0;
}
.ABC-0xcabbcf {
  background-color: #cabbcf;
}
.ABC-0xaa99b2 {
  background-color: #aa99b2;
}
.ABC-0x76607b {
  background-color: #76607b;
}
.ABC-0x58465b {
  background-color: #58465b;
}
.ABC-0xeadeea {
  background-color: #eadeea;
}
.ABC-0xd3c4d5 {
  background-color: #d3c4d5;
}
.ABC-0xbfadc3 {
  background-color: #bfadc3;
}
.ABC-0x9e87a0 {
  background-color: #9e87a0;
}
.ABC-0x785b72 {
  background-color: #785b72;
}
.ABC-0x5b404c {
  background-color: #5b404c;
}
.ABC-0xf0e3e7 {
  background-color: #f0e3e7;
}
.ABC-0xe5cfd7 {
  background-color: #e5cfd7;
}
.ABC-0xd0b7c1 {
  background-color: #d0b7c1;
}
.ABC-0xaf94a2 {
  background-color: #af94a2;
}
.ABC-0x83616d {
  background-color: #83616d;
}
.ABC-0x624248 {
  background-color: #624248;
}
.ABC-0x624248 {
  background-color: #624248;
}
.ABC-0xdccad0 {
  background-color: #dccad0;
}
.ABC-0xc8afb7 {
  background-color: #c8afb7;
}
.ABC-0xae8f98 {
  background-color: #ae8f98;
}
.ABC-0x896a6f {
  background-color: #896a6f;
}
.ABC-0x624445 {
  background-color: #624445;
}
.ABC-0xecdedf {
  background-color: #ecdedf;
}
.ABC-0xe3d5d6 {
  background-color: #e3d5d6;
}
.ABC-0xcfbdc0 {
  background-color: #cfbdc0;
}
.ABC-0xb39b9f {
  background-color: #b39b9f;
}
.ABC-0x8d6e71 {
  background-color: #8d6e71;
}
.ABC-0x664948 {
  background-color: #664948;
}
.ABC-0xf2e4e2 {
  background-color: #f2e4e2;
}
.ABC-0xe2cecf {
  background-color: #e2cecf;
}
.ABC-0xd1b8b9 {
  background-color: #d1b8b9;
}
.ABC-0xb89998 {
  background-color: #b89998;
}
.ABC-0x906d6b {
  background-color: #906d6b;
}
.ABC-0x6b4945 {
  background-color: #6b4945;
}
.ABC-0xece0df {
  background-color: #ece0df;
}
.ABC-0xdbced1 {
  background-color: #dbced1;
}
.ABC-0xc6b5b8 {
  background-color: #c6b5b8;
}
.ABC-0xa99597 {
  background-color: #a99597;
}
.ABC-0x8c7374 {
  background-color: #8c7374;
}
.ABC-0x664a48 {
  background-color: #664a48;
}
.ABC-0xece6e5 {
  background-color: #ece6e5;
}
.ABC-0xdcd2d5 {
  background-color: #dcd2d5;
}
.ABC-0xc6babd {
  background-color: #c6babd;
}
.ABC-0xa79a9e {
  background-color: #a79a9e;
}
.ABC-0x867679 {
  background-color: #867679;
}
.ABC-0x5a484a {
  background-color: #5a484a;
}
.ABC-0xe9e3e2 {
  background-color: #e9e3e2;
}
.ABC-0xd9d4d7 {
  background-color: #d9d4d7;
}
.ABC-0xc4bec0 {
  background-color: #c4bec0;
}
.ABC-0xa49ba0 {
  background-color: #a49ba0;
}
.ABC-0x71666a {
  background-color: #71666a;
}
.ABC-0x4b3d3f {
  background-color: #4b3d3f;
}
.ABC-0xe7dfdf {
  background-color: #e7dfdf;
}
.ABC-0xdad2d5 {
  background-color: #dad2d5;
}
.ABC-0xc5bcc0 {
  background-color: #c5bcc0;
}
.ABC-0xa89ca0 {
  background-color: #a89ca0;
}
.ABC-0x887b7d {
  background-color: #887b7d;
}
.ABC-0x5b4b4c {
  background-color: #5b4b4c;
}
.ABC-0xeddede {
  background-color: #eddede;
}
.ABC-0xddcdcc {
  background-color: #ddcdcc;
}
.ABC-0xc7aead {
  background-color: #c7aead;
}
.ABC-0xb79c9b {
  background-color: #b79c9b;
}
.ABC-0x987a78 {
  background-color: #987a78;
}
.ABC-0x6a4d46 {
  background-color: #6a4d46;
}
.ABC-0xf2e4e1 {
  background-color: #f2e4e1;
}
.ABC-0xe1ccc9 {
  background-color: #e1ccc9;
}
.ABC-0xd0b4b3 {
  background-color: #d0b4b3;
}
.ABC-0xbc9e99 {
  background-color: #bc9e99;
}
.ABC-0x98726c {
  background-color: #98726c;
}
.ABC-0x704c41 {
  background-color: #704c41;
}
.ABC-0xf2e3df {
  background-color: #f2e3df;
}
.ABC-0xead9d3 {
  background-color: #ead9d3;
}
.ABC-0xdac5bc {
  background-color: #dac5bc;
}
.ABC-0xc1a59b {
  background-color: #c1a59b;
}
.ABC-0x977566 {
  background-color: #977566;
}
.ABC-0x7c5949 {
  background-color: #7c5949;
}
.ABC-0xefe4e1 {
  background-color: #efe4e1;
}
.ABC-0xe3d6d6 {
  background-color: #e3d6d6;
}
.ABC-0xd0c1c1 {
  background-color: #d0c1c1;
}
.ABC-0xb6a1a0 {
  background-color: #b6a1a0;
}
.ABC-0x957e7c {
  background-color: #957e7c;
}
.ABC-0x6c5351 {
  background-color: #6c5351;
}
.ABC-0xf0e4df {
  background-color: #f0e4df;
}
.ABC-0xe0d2cf {
  background-color: #e0d2cf;
}
.ABC-0xccbbb7 {
  background-color: #ccbbb7;
}
.ABC-0xb09b94 {
  background-color: #b09b94;
}
.ABC-0x917871 {
  background-color: #917871;
}
.ABC-0x6c5148 {
  background-color: #6c5148;
}
.ABC-0xf1e7e2 {
  background-color: #f1e7e2;
}
.ABC-0xe7d8d5 {
  background-color: #e7d8d5;
}
.ABC-0xd5c3bd {
  background-color: #d5c3bd;
}
.ABC-0xbba6a0 {
  background-color: #bba6a0;
}
.ABC-0x9b837a {
  background-color: #9b837a;
}
.ABC-0x6f564d {
  background-color: #6f564d;
}
.ABC-0xdfd9d4 {
  background-color: #dfd9d4;
}
.ABC-0xccc4bc {
  background-color: #ccc4bc;
}
.ABC-0xb9aca6 {
  background-color: #b9aca6;
}
.ABC-0xa4968d {
  background-color: #a4968d;
}
.ABC-0x837168 {
  background-color: #837168;
}
.ABC-0x6c5a51 {
  background-color: #6c5a51;
}
.ABC-0xefe9e1 {
  background-color: #efe9e1;
}
.ABC-0xdfd9d2 {
  background-color: #dfd9d2;
}
.ABC-0xcbc2b8 {
  background-color: #cbc2b8;
}
.ABC-0xb0a395 {
  background-color: #b0a395;
}
.ABC-0x847667 {
  background-color: #847667;
}
.ABC-0x5f4f3d {
  background-color: #5f4f3d;
}
.ABC-0xedeae8 {
  background-color: #edeae8;
}
.ABC-0xdfd9d6 {
  background-color: #dfd9d6;
}
.ABC-0xcdc5be {
  background-color: #cdc5be;
}
.ABC-0xaba19a {
  background-color: #aba19a;
}
.ABC-0x8a7e75 {
  background-color: #8a7e75;
}
.ABC-0x61544c {
  background-color: #61544c;
}
.ABC-0xe5e0dd {
  background-color: #e5e0dd;
}
.ABC-0xdcd7d8 {
  background-color: #dcd7d8;
}
.ABC-0xc8c3c3 {
  background-color: #c8c3c3;
}
.ABC-0xaba4a5 {
  background-color: #aba4a5;
}
.ABC-0x8b7f7e {
  background-color: #8b7f7e;
}
.ABC-0x5a4b48 {
  background-color: #5a4b48;
}
.ABC-0xe9e5df {
  background-color: #e9e5df;
}
.ABC-0xdcd4cd {
  background-color: #dcd4cd;
}
.ABC-0xc5c0b4 {
  background-color: #c5c0b4;
}
.ABC-0xa9a192 {
  background-color: #a9a192;
}
.ABC-0x837866 {
  background-color: #837866;
}
.ABC-0x615648 {
  background-color: #615648;
}
.ABC-0xede9e7 {
  background-color: #ede9e7;
}
.ABC-0xd5d4cf {
  background-color: #d5d4cf;
}
.ABC-0xbdbbb2 {
  background-color: #bdbbb2;
}
.ABC-0x9f9c91 {
  background-color: #9f9c91;
}
.ABC-0x7d766a {
  background-color: #7d766a;
}
.ABC-0x5f5649 {
  background-color: #5f5649;
}
.ABC-0xe9e7e4 {
  background-color: #e9e7e4;
}
.ABC-0xd8d7d7 {
  background-color: #d8d7d7;
}
.ABC-0xc4c2c1 {
  background-color: #c4c2c1;
}
.ABC-0xa8a3a3 {
  background-color: #a8a3a3;
}
.ABC-0x7d7774 {
  background-color: #7d7774;
}
.ABC-0x5b524e {
  background-color: #5b524e;
}
.ABC-0xe6e7e4 {
  background-color: #e6e7e4;
}
.ABC-0xd1d6d4 {
  background-color: #d1d6d4;
}
.ABC-0xb6bfbb {
  background-color: #b6bfbb;
}
.ABC-0x999f99 {
  background-color: #999f99;
}
.ABC-0x7b8179 {
  background-color: #7b8179;
}
.ABC-0x565651 {
  background-color: #565651;
}
.ABC-0xe1e3e7 {
  background-color: #e1e3e7;
}
.ABC-0xcdd0d5 {
  background-color: #cdd0d5;
}
.ABC-0xb4b7bc {
  background-color: #b4b7bc;
}
.ABC-0x959a9f {
  background-color: #959a9f;
}
.ABC-0x717276 {
  background-color: #717276;
}
.ABC-0x5d5c5e {
  background-color: #5d5c5e;
}
.ABC-0xd8dfde {
  background-color: #d8dfde;
}
.ABC-0xc5ced1 {
  background-color: #c5ced1;
}
.ABC-0xa9b2b5 {
  background-color: #a9b2b5;
}
.ABC-0x8c9598 {
  background-color: #8c9598;
}
.ABC-0x626a6c {
  background-color: #626a6c;
}
.ABC-0x4b4e4e {
  background-color: #4b4e4e;
}
.ABC-0xd6e2e9 {
  background-color: #d6e2e9;
}
.ABC-0xcbd6de {
  background-color: #cbd6de;
}
.ABC-0xb0c0cc {
  background-color: #b0c0cc;
}
.ABC-0x8a9eae {
  background-color: #8a9eae;
}
.ABC-0x697c8b {
  background-color: #697c8b;
}
.ABC-0x4a525e {
  background-color: #4a525e;
}
.ABC-0xd9e1ea {
  background-color: #d9e1ea;
}
.ABC-0xc8cdd7 {
  background-color: #c8cdd7;
}
.ABC-0xacb1be {
  background-color: #acb1be;
}
.ABC-0x8a92a0 {
  background-color: #8a92a0;
}
.ABC-0x686c79 {
  background-color: #686c79;
}
.ABC-0x4f505c {
  background-color: #4f505c;
}
.ABC-0xe4dfe0 {
  background-color: #e4dfe0;
}
.ABC-0xdbd6d9 {
  background-color: #dbd6d9;
}
.ABC-0xc4bfc2 {
  background-color: #c4bfc2;
}
.ABC-0xa59da3 {
  background-color: #a59da3;
}
.ABC-0x877d82 {
  background-color: #877d82;
}
.ABC-0x61565b {
  background-color: #61565b;
}
.ABC-0xdbd9dd {
  background-color: #dbd9dd;
}
.ABC-0xcccad1 {
  background-color: #cccad1;
}
.ABC-0xc3bec3 {
  background-color: #c3bec3;
}
.ABC-0xa79fa8 {
  background-color: #a79fa8;
}
.ABC-0x867d86 {
  background-color: #867d86;
}
.ABC-0x574b51 {
  background-color: #574b51;
}
.ABC-0xe0dee2 {
  background-color: #e0dee2;
}
.ABC-0xd4d1d8 {
  background-color: #d4d1d8;
}
.ABC-0xbcbbc3 {
  background-color: #bcbbc3;
}
.ABC-0x9b9aa7 {
  background-color: #9b9aa7;
}
.ABC-0x7a7784 {
  background-color: #7a7784;
}
.ABC-0x4f4751 {
  background-color: #4f4751;
}
.ABC-0xe1dee0 {
  background-color: #e1dee0;
}
.ABC-0xd4d0d6 {
  background-color: #d4d0d6;
}
.ABC-0xbebac1 {
  background-color: #bebac1;
}
.ABC-0x9c949e {
  background-color: #9c949e;
}
.ABC-0x7e767f {
  background-color: #7e767f;
}
.ABC-0x564c54 {
  background-color: #564c54;
}
.ABC-0xcbdfeb {
  background-color: #cbdfeb;
}
.ABC-0xb5cadd {
  background-color: #b5cadd;
}
.ABC-0x92aec6 {
  background-color: #92aec6;
}
.ABC-0x6987a5 {
  background-color: #6987a5;
}
.ABC-0x495c77 {
  background-color: #495c77;
}
.ABC-0x333d4f {
  background-color: #333d4f;
}
.ABC-0xdce0ec {
  background-color: #dce0ec;
}
.ABC-0xbfcbda {
  background-color: #bfcbda;
}
.ABC-0x9faec4 {
  background-color: #9faec4;
}
.ABC-0x7c8ba7 {
  background-color: #7c8ba7;
}
.ABC-0x5f697f {
  background-color: #5f697f;
}
.ABC-0x474b5f {
  background-color: #474b5f;
}
.ABC-0xdaddec {
  background-color: #daddec;
}
.ABC-0xc7cbdf {
  background-color: #c7cbdf;
}
.ABC-0xa6b2ca {
  background-color: #a6b2ca;
}
.ABC-0x858ead {
  background-color: #858ead;
}
.ABC-0x646988 {
  background-color: #646988;
}
.ABC-0x454b65 {
  background-color: #454b65;
}
.ABC-0xd7ddec {
  background-color: #d7ddec;
}
.ABC-0xc0c8e0 {
  background-color: #c0c8e0;
}
.ABC-0x9faccb {
  background-color: #9faccb;
}
.ABC-0x7d8bb0 {
  background-color: #7d8bb0;
}
.ABC-0x59658c {
  background-color: #59658c;
}
.ABC-0x444a6f {
  background-color: #444a6f;
}
.ABC-0xe6e7f2 {
  background-color: #e6e7f2;
}
.ABC-0xc6cae1 {
  background-color: #c6cae1;
}
.ABC-0xa6aecd {
  background-color: #a6aecd;
}
.ABC-0x818cb2 {
  background-color: #818cb2;
}
.ABC-0x5f648b {
  background-color: #5f648b;
}
.ABC-0x474a6e {
  background-color: #474a6e;
}
.ABC-0xdbdae8 {
  background-color: #dbdae8;
}
.ABC-0xc8c9dd {
  background-color: #c8c9dd;
}
.ABC-0xaaa9c5 {
  background-color: #aaa9c5;
}
.ABC-0x8b8aaa {
  background-color: #8b8aaa;
}
.ABC-0x69647f {
  background-color: #69647f;
}
.ABC-0x504b62 {
  background-color: #504b62;
}
.ABC-0xfef6fe {
  background-color: #fef6fe;
}
.ABC-0xf8e2f5 {
  background-color: #f8e2f5;
}
.ABC-0xd9bfe0 {
  background-color: #d9bfe0;
}
.ABC-0xaa8db9 {
  background-color: #aa8db9;
}
.ABC-0x715681 {
  background-color: #715681;
}
.ABC-0x4a3155 {
  background-color: #4a3155;
}
.ABC-0xfef0fb {
  background-color: #fef0fb;
}
.ABC-0xf7d5ed {
  background-color: #f7d5ed;
}
.ABC-0xe1b2d7 {
  background-color: #e1b2d7;
}
.ABC-0xb37eaa {
  background-color: #b37eaa;
}
.ABC-0x78446d {
  background-color: #78446d;
}
.ABC-0x48183a {
  background-color: #48183a;
}
.ABC-0xfff2fd {
  background-color: #fff2fd;
}
.ABC-0xfed7f1 {
  background-color: #fed7f1;
}
.ABC-0xf3adda {
  background-color: #f3adda;
}
.ABC-0xd379b0 {
  background-color: #d379b0;
}
.ABC-0x9c3d70 {
  background-color: #9c3d70;
}
.ABC-0x5c082f {
  background-color: #5c082f;
}
.ABC-0xfff4fe {
  background-color: #fff4fe;
}
.ABC-0xffd4f2 {
  background-color: #ffd4f2;
}
.ABC-0xfbaddc {
  background-color: #fbaddc;
}
.ABC-0xe478b0 {
  background-color: #e478b0;
}
.ABC-0xab2f62 {
  background-color: #ab2f62;
}
.ABC-0x810533 {
  background-color: #810533;
}
.ABC-0xfff1fc {
  background-color: #fff1fc;
}
.ABC-0xffd5ee {
  background-color: #ffd5ee;
}
.ABC-0xfcaed4 {
  background-color: #fcaed4;
}
.ABC-0xf178a6 {
  background-color: #f178a6;
}
.ABC-0xc12a53 {
  background-color: #c12a53;
}
.ABC-0x92001e {
  background-color: #92001e;
}
.ABC-0xfff3f9 {
  background-color: #fff3f9;
}
.ABC-0xffd4e4 {
  background-color: #ffd4e4;
}
.ABC-0xfeaac1 {
  background-color: #feaac1;
}
.ABC-0xf07692 {
  background-color: #f07692;
}
.ABC-0xcf344c {
  background-color: #cf344c;
}
.ABC-0x9e0002 {
  background-color: #9e0002;
}
.ABC-0xfff6f8 {
  background-color: #fff6f8;
}
.ABC-0xffdfe7 {
  background-color: #ffdfe7;
}
.ABC-0xfeb7c4 {
  background-color: #feb7c4;
}
.ABC-0xea7d8d {
  background-color: #ea7d8d;
}
.ABC-0xc4424f {
  background-color: #c4424f;
}
.ABC-0x9f1117 {
  background-color: #9f1117;
}
.ABC-0xfff5f5 {
  background-color: #fff5f5;
}
.ABC-0xffe2e4 {
  background-color: #ffe2e4;
}
.ABC-0xfebbbf {
  background-color: #febbbf;
}
.ABC-0xf27376 {
  background-color: #f27376;
}
.ABC-0xd23c3c {
  background-color: #d23c3c;
}
.ABC-0xa6140a {
  background-color: #a6140a;
}
.ABC-0xfff4ed {
  background-color: #fff4ed;
}
.ABC-0xffd9d2 {
  background-color: #ffd9d2;
}
.ABC-0xfebbb3 {
  background-color: #febbb3;
}
.ABC-0xf18b83 {
  background-color: #f18b83;
}
.ABC-0xcd4f40 {
  background-color: #cd4f40;
}
.ABC-0xab2603 {
  background-color: #ab2603;
}
.ABC-0xfff4e9 {
  background-color: #fff4e9;
}
.ABC-0xfdd3c2 {
  background-color: #fdd3c2;
}
.ABC-0xf6b39f {
  background-color: #f6b39f;
}
.ABC-0xe6957c {
  background-color: #e6957c;
}
.ABC-0xba5940 {
  background-color: #ba5940;
}
.ABC-0xa84427 {
  background-color: #a84427;
}
.ABC-0xfffcf4 {
  background-color: #fffcf4;
}
.ABC-0xfff0d9 {
  background-color: #fff0d9;
}
.ABC-0xfed8b7 {
  background-color: #fed8b7;
}
.ABC-0xf2996f {
  background-color: #f2996f;
}
.ABC-0xd25929 {
  background-color: #d25929;
}
.ABC-0xb92900 {
  background-color: #b92900;
}
.ABC-0xfffaec {
  background-color: #fffaec;
}
.ABC-0xfff0da {
  background-color: #fff0da;
}
.ABC-0xfed5b3 {
  background-color: #fed5b3;
}
.ABC-0xf4ab81 {
  background-color: #f4ab81;
}
.ABC-0xcb6939 {
  background-color: #cb6939;
}
.ABC-0xac4c1b {
  background-color: #ac4c1b;
}
.ABC-0xfff8e3 {
  background-color: #fff8e3;
}
.ABC-0xfedfbc {
  background-color: #fedfbc;
}
.ABC-0xf6c499 {
  background-color: #f6c499;
}
.ABC-0xe8a475 {
  background-color: #e8a475;
}
.ABC-0xc67542 {
  background-color: #c67542;
}
.ABC-0xa14610 {
  background-color: #a14610;
}
.ABC-0xfff5da {
  background-color: #fff5da;
}
.ABC-0xfcd3a6 {
  background-color: #fcd3a6;
}
.ABC-0xf2bb88 {
  background-color: #f2bb88;
}
.ABC-0xe29f67 {
  background-color: #e29f67;
}
.ABC-0xc87538 {
  background-color: #c87538;
}
.ABC-0xa7511a {
  background-color: #a7511a;
}
.ABC-0xfffce7 {
  background-color: #fffce7;
}
.ABC-0xffedc8 {
  background-color: #ffedc8;
}
.ABC-0xf9c88d {
  background-color: #f9c88d;
}
.ABC-0xeca666 {
  background-color: #eca666;
}
.ABC-0xdd8a45 {
  background-color: #dd8a45;
}
.ABC-0xca7127 {
  background-color: #ca7127;
}
.ABC-0xfffef4 {
  background-color: #fffef4;
}
.ABC-0xfffadd {
  background-color: #fffadd;
}
.ABC-0xffe7b7 {
  background-color: #ffe7b7;
}
.ABC-0xf2b46c {
  background-color: #f2b46c;
}
.ABC-0xdd8f40 {
  background-color: #dd8f40;
}
.ABC-0xbc670b {
  background-color: #bc670b;
}
.ABC-0xfffef9 {
  background-color: #fffef9;
}
.ABC-0xfffadd {
  background-color: #fffadd;
}
.ABC-0xfee4b3 {
  background-color: #fee4b3;
}
.ABC-0xe9b270 {
  background-color: #e9b270;
}
.ABC-0xce8e48 {
  background-color: #ce8e48;
}
.ABC-0xab6722 {
  background-color: #ab6722;
}
.ABC-0xfffff3 {
  background-color: #fffff3;
}
.ABC-0xfffedc {
  background-color: #fffedc;
}
.ABC-0xfff0aa {
  background-color: #fff0aa;
}
.ABC-0xfdd272 {
  background-color: #fdd272;
}
.ABC-0xeca634 {
  background-color: #eca634;
}
.ABC-0xd48000 {
  background-color: #d48000;
}
.ABC-0xffffee {
  background-color: #ffffee;
}
.ABC-0xfffad0 {
  background-color: #fffad0;
}
.ABC-0xfce39b {
  background-color: #fce39b;
}
.ABC-0xeecc76 {
  background-color: #eecc76;
}
.ABC-0xdaaa4b {
  background-color: #daaa4b;
}
.ABC-0xb37a0a {
  background-color: #b37a0a;
}
.ABC-0xfffff5 {
  background-color: #fffff5;
}
.ABC-0xfffdd7 {
  background-color: #fffdd7;
}
.ABC-0xfff1af {
  background-color: #fff1af;
}
.ABC-0xe9c15a {
  background-color: #e9c15a;
}
.ABC-0xd09b20 {
  background-color: #d09b20;
}
.ABC-0xb27c00 {
  background-color: #b27c00;
}
.ABC-0xfffed3 {
  background-color: #fffed3;
}
.ABC-0xfef5a6 {
  background-color: #fef5a6;
}
.ABC-0xf7e57c {
  background-color: #f7e57c;
}
.ABC-0xe6d05b {
  background-color: #e6d05b;
}
.ABC-0xc3a92d {
  background-color: #c3a92d;
}
.ABC-0x957d01 {
  background-color: #957d01;
}
.ABC-0xfffee4 {
  background-color: #fffee4;
}
.ABC-0xfef7be {
  background-color: #fef7be;
}
.ABC-0xeddf87 {
  background-color: #eddf87;
}
.ABC-0xdfce69 {
  background-color: #dfce69;
}
.ABC-0xc1ab3f {
  background-color: #c1ab3f;
}
.ABC-0xa08a1f {
  background-color: #a08a1f;
}
.ABC-0xffffe9 {
  background-color: #ffffe9;
}
.ABC-0xfdf9c8 {
  background-color: #fdf9c8;
}
.ABC-0xeae499 {
  background-color: #eae499;
}
.ABC-0xd0c86a {
  background-color: #d0c86a;
}
.ABC-0xb2a945 {
  background-color: #b2a945;
}
.ABC-0x777107 {
  background-color: #777107;
}
.ABC-0xffffea {
  background-color: #ffffea;
}
.ABC-0xf8fbd0 {
  background-color: #f8fbd0;
}
.ABC-0xd9e69d {
  background-color: #d9e69d;
}
.ABC-0xb2c467 {
  background-color: #b2c467;
}
.ABC-0x97ab49 {
  background-color: #97ab49;
}
.ABC-0x586d12 {
  background-color: #586d12;
}
.ABC-0xfefffb {
  background-color: #fefffb;
}
.ABC-0xf2fcea {
  background-color: #f2fcea;
}
.ABC-0xd7ecce {
  background-color: #d7ecce;
}
.ABC-0xa8cb9c {
  background-color: #a8cb9c;
}
.ABC-0x7ba06a {
  background-color: #7ba06a;
}
.ABC-0x4b6b34 {
  background-color: #4b6b34;
}
.ABC-0xfefffe {
  background-color: #fefffe;
}
.ABC-0xf4fef2 {
  background-color: #f4fef2;
}
.ABC-0xd7f6da {
  background-color: #d7f6da;
}
.ABC-0xacdeae {
  background-color: #acdeae;
}
.ABC-0x71ab6d {
  background-color: #71ab6d;
}
.ABC-0x417437 {
  background-color: #417437;
}
.ABC-0xfcfffc {
  background-color: #fcfffc;
}
.ABC-0xe7fef0 {
  background-color: #e7fef0;
}
.ABC-0xc4f3d5 {
  background-color: #c4f3d5;
}
.ABC-0x95d8ab {
  background-color: #95d8ab;
}
.ABC-0x60a668 {
  background-color: #60a668;
}
.ABC-0x2c6732 {
  background-color: #2c6732;
}
.ABC-0xfcffff {
  background-color: #fcffff;
}
.ABC-0xe9fffa {
  background-color: #e9fffa;
}
.ABC-0xc7fde8 {
  background-color: #c7fde8;
}
.ABC-0x87e1b3 {
  background-color: #87e1b3;
}
.ABC-0x4aa76e {
  background-color: #4aa76e;
}
.ABC-0x1b6732 {
  background-color: #1b6732;
}
.ABC-0xe9fffe {
  background-color: #e9fffe;
}
.ABC-0xc8fbf0 {
  background-color: #c8fbf0;
}
.ABC-0xaff0e1 {
  background-color: #aff0e1;
}
.ABC-0x81d3b8 {
  background-color: #81d3b8;
}
.ABC-0x4c9978 {
  background-color: #4c9978;
}
.ABC-0x296b4d {
  background-color: #296b4d;
}
.ABC-0xf1fefe {
  background-color: #f1fefe;
}
.ABC-0xcefbf7 {
  background-color: #cefbf7;
}
.ABC-0xadedea {
  background-color: #adedea;
}
.ABC-0x7dcfc9 {
  background-color: #7dcfc9;
}
.ABC-0x4c9d93 {
  background-color: #4c9d93;
}
.ABC-0x31776b {
  background-color: #31776b;
}
.ABC-0xf0ffff {
  background-color: #f0ffff;
}
.ABC-0xcdf9fa {
  background-color: #cdf9fa;
}
.ABC-0xa8e8eb {
  background-color: #a8e8eb;
}
.ABC-0x77c6cd {
  background-color: #77c6cd;
}
.ABC-0x509ca2 {
  background-color: #509ca2;
}
.ABC-0x2a6a6e {
  background-color: #2a6a6e;
}
.ABC-0xf2ffff {
  background-color: #f2ffff;
}
.ABC-0xcdf9fa {
  background-color: #cdf9fa;
}
.ABC-0xa8e1ef {
  background-color: #a8e1ef;
}
.ABC-0x78bad3 {
  background-color: #78bad3;
}
.ABC-0x4886a0 {
  background-color: #4886a0;
}
.ABC-0x2e6075 {
  background-color: #2e6075;
}
.ABC-0xeafeff {
  background-color: #eafeff;
}
.ABC-0xc4effb {
  background-color: #c4effb;
}
.ABC-0x98d3eb {
  background-color: #98d3eb;
}
.ABC-0x69a8cb {
  background-color: #69a8cb;
}
.ABC-0x316384 {
  background-color: #316384;
}
.ABC-0x1d445f {
  background-color: #1d445f;
}
.ABC-0xe8fdff {
  background-color: #e8fdff;
}
.ABC-0xc6eefe {
  background-color: #c6eefe;
}
.ABC-0x9cd3f1 {
  background-color: #9cd3f1;
}
.ABC-0x6da8d5 {
  background-color: #6da8d5;
}
.ABC-0x437aa7 {
  background-color: #437aa7;
}
.ABC-0x1d466d {
  background-color: #1d466d;
}
.ABC-0xeffbff {
  background-color: #effbff;
}
.ABC-0xceeafe {
  background-color: #ceeafe;
}
.ABC-0xa6cdf6 {
  background-color: #a6cdf6;
}
.ABC-0x729ede {
  background-color: #729ede;
}
.ABC-0x4972b9 {
  background-color: #4972b9;
}
.ABC-0x1b3876 {
  background-color: #1b3876;
}
.ABC-0xf8fcff {
  background-color: #f8fcff;
}
.ABC-0xd7e8fe {
  background-color: #d7e8fe;
}
.ABC-0xb1ccf6 {
  background-color: #b1ccf6;
}
.ABC-0x7d9edd {
  background-color: #7d9edd;
}
.ABC-0x4665ab {
  background-color: #4665ab;
}
.ABC-0x253a75 {
  background-color: #253a75;
}
.ABC-0xf6f7fe {
  background-color: #f6f7fe;
}
.ABC-0xe1e6fc {
  background-color: #e1e6fc;
}
.ABC-0xb8c3ec {
  background-color: #b8c3ec;
}
.ABC-0x8896d2 {
  background-color: #8896d2;
}
.ABC-0x53619e {
  background-color: #53619e;
}
.ABC-0x333c6e {
  background-color: #333c6e;
}
.ABC-0xf7f4ff {
  background-color: #f7f4ff;
}
.ABC-0xe5e2fc {
  background-color: #e5e2fc;
}
.ABC-0xc3c1ed {
  background-color: #c3c1ed;
}
.ABC-0x928fcf {
  background-color: #928fcf;
}
.ABC-0x6866a6 {
  background-color: #6866a6;
}
.ABC-0x2c295b {
  background-color: #2c295b;
}
.ABC-0x330066 {
  background-color: #330066;
}
.ABC-0x1F7A27 {
  background-color: #1f7a27;
}
.ABC-0x1F7A27 {
  background-color: #1f7a27;
}
.ABC-0x330066 {
  background-color: #330066;
}
.ABC-0x1F7A27 {
  background-color: #1f7a27;
}
.ABC-0x999966 {
  background-color: #999966;
}
.ABC-0x1F7A27 {
  background-color: #1f7a27;
}
.ABC-0x330066 {
  background-color: #330066;
}
