.ABC-ddd882 {
  background-color: #ddd882;
}
.ABC-dab692 {
  background-color: #dab692;
}
.ABC-cba783 {
  background-color: #cba783;
}
.ABC-fdbf06 {
  background-color: #fdbf06;
}
.ABC-ecbd00 {
  background-color: #ecbd00;
}
.ABC-dcab01 {
  background-color: #dcab01;
}
.ABC-fbbd02 {
  background-color: #fbbd02;
}
.ABC-ffaf09 {
  background-color: #ffaf09;
}
.ABC-b48632 {
  background-color: #b48632;
}
.ABC-d5b742 {
  background-color: #d5b742;
}
.ABC-EAE9C2 {
  background-color: #eae9c2;
}
.ABC-DDCF9E {
  background-color: #ddcf9e;
}
.ABC-E9DDBC {
  background-color: #e9ddbc;
}
.ABC-E9EF43 {
  background-color: #e9ef43;
}
.ABC-F3B651 {
  background-color: #f3b651;
}
.ABC-F2DF3A {
  background-color: #f2df3a;
}
.ABC-A3947C {
  background-color: #a3947c;
}
.ABC-999363 {
  background-color: #999363;
}
.ABC-EDC800 {
  background-color: #edc800;
}
.ABC-EFC900 {
  background-color: #efc900;
}
.ABC-B79B4F {
  background-color: #b79b4f;
}
.ABC-A28B14 {
  background-color: #a28b14;
}
.ABC-FEAA00 {
  background-color: #feaa00;
}
.ABC-DCB10E {
  background-color: #dcb10e;
}
.ABC-F9AA20 {
  background-color: #f9aa20;
}
.ABC-ECAA55 {
  background-color: #ecaa55;
}
.ABC-DD9707 {
  background-color: #dd9707;
}
.ABC-DC7806 {
  background-color: #dc7806;
}
.ABC-BD4D23 {
  background-color: #bd4d23;
}
.ABC-C53826 {
  background-color: #c53826;
}
.ABC-F9832A {
  background-color: #f9832a;
}
.ABC-E65A11 {
  background-color: #e65a11;
}
.ABC-F2742B {
  background-color: #f2742b;
}
.ABC-E05400 {
  background-color: #e05400;
}
.ABC-D3642E {
  background-color: #d3642e;
}
.ABC-EB7B24 {
  background-color: #eb7b24;
}
.ABC-DA694F {
  background-color: #da694f;
}
.ABC-AA2423 {
  background-color: #aa2423;
}
.ABC-9F2027 {
  background-color: #9f2027;
}
.ABC-A0222A {
  background-color: #a0222a;
}
.ABC-8C1C2B {
  background-color: #8c1c2b;
}
.ABC-6F1E28 {
  background-color: #6f1e28;
}
.ABC-5D1F27 {
  background-color: #5d1f27;
}
.ABC-3F2124 {
  background-color: #3f2124;
}
.ABC-6F3630 {
  background-color: #6f3630;
}
.ABC-7D282B {
  background-color: #7d282b;
}
.ABC-CA8C72 {
  background-color: #ca8c72;
}
.ABC-A12312 {
  background-color: #a12312;
}
.ABC-FF605B {
  background-color: #ff605b;
}
.ABC-E0A5AC {
  background-color: #e0a5ac;
}
.ABC-AB3F33 {
  background-color: #ab3f33;
}
.ABC-D2535E {
  background-color: #d2535e;
}
.ABC-D04051 {
  background-color: #d04051;
}
.ABC-C0111B {
  background-color: #c0111b;
}
.ABC-D46C55 {
  background-color: #d46c55;
}
.ABC-B31F40 {
  background-color: #b31f40;
}
.ABC-AB313A {
  background-color: #ab313a;
}
.ABC-895982 {
  background-color: #895982;
}
.ABC-923C4F {
  background-color: #923c4f;
}
.ABC-D05A8E {
  background-color: #d05a8e;
}
.ABC-681538 {
  background-color: #681538;
}
.ABC-82629C {
  background-color: #82629c;
}
.ABC-982471 {
  background-color: #982471;
}
.ABC-491F3A {
  background-color: #491f3a;
}
.ABC-8F4583 {
  background-color: #8f4583;
}
.ABC-7E6763 {
  background-color: #7e6763;
}
.ABC-C53577 {
  background-color: #c53577;
}
.ABC-374B6F {
  background-color: #374b6f;
}
.ABC-1E4663 {
  background-color: #1e4663;
}
.ABC-2A2B7B {
  background-color: #2a2b7b;
}
.ABC-293655 {
  background-color: #293655;
}
.ABC-1C1E29 {
  background-color: #1c1e29;
}
.ABC-144788 {
  background-color: #144788;
}
.ABC-40668C {
  background-color: #40668c;
}
.ABC-303B47 {
  background-color: #303b47;
}
.ABC-2D5877 {
  background-color: #2d5877;
}
.ABC-12437B {
  background-color: #12437b;
}
.ABC-222B3E {
  background-color: #222b3e;
}
.ABC-3380B7 {
  background-color: #3380b7;
}
.ABC-222C52 {
  background-color: #222c52;
}
.ABC-6B7B97 {
  background-color: #6b7b97;
}
.ABC-2773B1 {
  background-color: #2773b1;
}
.ABC-0D508C {
  background-color: #0d508c;
}
.ABC-20878E {
  background-color: #20878e;
}
.ABC-195683 {
  background-color: #195683;
}
.ABC-0A4050 {
  background-color: #0a4050;
}
.ABC-067279 {
  background-color: #067279;
}
.ABC-2E2959 {
  background-color: #2e2959;
}
.ABC-4C658D {
  background-color: #4c658d;
}
.ABC-6992AF {
  background-color: #6992af;
}
.ABC-317561 {
  background-color: #317561;
}
.ABC-27703D {
  background-color: #27703d;
}
.ABC-266134 {
  background-color: #266134;
}
.ABC-4A563D {
  background-color: #4a563d;
}
.ABC-0D4142 {
  background-color: #0d4142;
}
.ABC-0E4235 {
  background-color: #0e4235;
}
.ABC-3F423A {
  background-color: #3f423a;
}
.ABC-273323 {
  background-color: #273323;
}
.ABC-34372D {
  background-color: #34372d;
}
.ABC-25382E {
  background-color: #25382e;
}
.ABC-3D743A {
  background-color: #3d743a;
}
.ABC-65815A {
  background-color: #65815a;
}
.ABC-303F3C {
  background-color: #303f3c;
}
.ABC-787B59 {
  background-color: #787b59;
}
.ABC-434236 {
  background-color: #434236;
}
.ABC-3C3F39 {
  background-color: #3c3f39;
}
.ABC-016951 {
  background-color: #016951;
}
.ABC-458540 {
  background-color: #458540;
}
.ABC-47A33E {
  background-color: #47a33e;
}
.ABC-B6D8B0 {
  background-color: #b6d8b0;
}
.ABC-344632 {
  background-color: #344632;
}
.ABC-85A37B {
  background-color: #85a37b;
}
.ABC-3D3B31 {
  background-color: #3d3b31;
}
.ABC-008653 {
  background-color: #008653;
}
.ABC-52743B {
  background-color: #52743b;
}
.ABC-005C51 {
  background-color: #005c51;
}
.ABC-80BFBA {
  background-color: #80bfba;
}
.ABC-2C5445 {
  background-color: #2c5445;
}
.ABC-007142 {
  background-color: #007142;
}
.ABC-317F43 {
  background-color: #317f43;
}
.ABC-468983 {
  background-color: #468983;
}
.ABC-7EAFB1 {
  background-color: #7eafb1;
}
.ABC-7D8A91 {
  background-color: #7d8a91;
}
.ABC-8E989E {
  background-color: #8e989e;
}
.ABC-807E67 {
  background-color: #807e67;
}
.ABC-797A6C {
  background-color: #797a6c;
}
.ABC-9D9FA0 {
  background-color: #9d9fa0;
}
.ABC-6A706E {
  background-color: #6a706e;
}
.ABC-746E60 {
  background-color: #746e60;
}
.ABC-736542 {
  background-color: #736542;
}
.ABC-5A6158 {
  background-color: #5a6158;
}
.ABC-565C56 {
  background-color: #565c56;
}
.ABC-545C60 {
  background-color: #545c60;
}
.ABC-586062 {
  background-color: #586062;
}
.ABC-545447 {
  background-color: #545447;
}
.ABC-50555B {
  background-color: #50555b;
}
.ABC-363E42 {
  background-color: #363e42;
}
.ABC-2D3133 {
  background-color: #2d3133;
}
.ABC-4A4C45 {
  background-color: #4a4c45;
}
.ABC-808378 {
  background-color: #808378;
}
.ABC-46494F {
  background-color: #46494f;
}
.ABC-364346 {
  background-color: #364346;
}
.ABC-929287 {
  background-color: #929287;
}
.ABC-5C686F {
  background-color: #5c686f;
}
.ABC-B8B8A7 {
  background-color: #b8b8a7;
}
.ABC-808878 {
  background-color: #808878;
}
.ABC-929075 {
  background-color: #929075;
}
.ABC-CACFCB {
  background-color: #cacfcb;
}
.ABC-999596 {
  background-color: #999596;
}
.ABC-7B7E7D {
  background-color: #7b7e7d;
}
.ABC-B3B7AF {
  background-color: #b3b7af;
}
.ABC-6A685E {
  background-color: #6a685e;
}
.ABC-9CA2A5 {
  background-color: #9ca2a5;
}
.ABC-8E9698 {
  background-color: #8e9698;
}
.ABC-3F4444 {
  background-color: #3f4444;
}
.ABC-BCBCB1 {
  background-color: #bcbcb1;
}
.ABC-8E939E {
  background-color: #8e939e;
}
.ABC-77828C {
  background-color: #77828c;
}
.ABC-C4C3C6 {
  background-color: #c4c3c6;
}
.ABC-877041 {
  background-color: #877041;
}
.ABC-9B6A2F {
  background-color: #9b6a2f;
}
.ABC-7A5040 {
  background-color: #7a5040;
}
.ABC-7F532E {
  background-color: #7f532e;
}
.ABC-8E4D34 {
  background-color: #8e4d34;
}
.ABC-6E492E {
  background-color: #6e492e;
}
.ABC-6E4E27 {
  background-color: #6e4e27;
}
.ABC-593928 {
  background-color: #593928;
}
.ABC-663730 {
  background-color: #663730;
}
.ABC-48382C {
  background-color: #48382c;
}
.ABC-623933 {
  background-color: #623933;
}
.ABC-4B2E25 {
  background-color: #4b2e25;
}
.ABC-43312C {
  background-color: #43312c;
}
.ABC-3E3939 {
  background-color: #3e3939;
}
.ABC-201E1F {
  background-color: #201e1f;
}
.ABC-A55D2E {
  background-color: #a55d2e;
}
.ABC-78543B {
  background-color: #78543b;
}
.ABC-745B48 {
  background-color: #745b48;
}
.ABC-4D3A2A {
  background-color: #4d3a2a;
}
.ABC-EEEADB {
  background-color: #eeeadb;
}
.ABC-DCDDD3 {
  background-color: #dcddd3;
}
.ABC-F8F9FA {
  background-color: #f8f9fa;
}
.ABC-2D2F31 {
  background-color: #2d2f31;
}
.ABC-09090C {
  background-color: #09090c;
}
.ABC-b0b1b0 {
  background-color: #b0b1b0;
}
.ABC-8E8E8B {
  background-color: #8e8e8b;
}
.ABC-F9F8F0 {
  background-color: #f9f8f0;
}
.ABC-282B2E {
  background-color: #282b2e;
}
.ABC-F2F5F3 {
  background-color: #f2f5f3;
}
.ABC-292C2E {
  background-color: #292c2e;
}
.ABC-CED2CC {
  background-color: #ced2cc;
}
