.title-card {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-flex-align: center;
  align-items: center;
}

.title-card .bucket {
  display: none;
  z-index: 1;
}

/* .title-card h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding: 24px 16px;
  text-align: center;
  color: var(--blue);
  background-color: var(--white);
  border: 4px solid var(--blue);
  -webkit-box-shadow: 0px 0px 20px rgba(1, 91, 187, 0.5);
  box-shadow: 0px 0px 20px rgba(1, 91, 187, 0.5);
  border-radius: 22px;
} */

.hp_paralax_text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
  text-align: center;
  padding: 16px 0;
  margin: 32px 0;
}

.homepage-section.row,
.homepage-section.row-reverse {
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .title-card h1 {
    font-size: 24px;
  }

  .hp_paralax_text {
    font-size: 24px;
    padding: 24px 0;
  }
}

@media screen and (min-width: 768px) {
  .title-card h1 {
    font-size: 32px;
  }

  .hp_paralax_text {
    font-size: 32px;
    padding: 32px 0;
  }

  .homepage-section.row,
  .homepage-section.row-reverse {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .homepage-section.row {
    flex-direction: row;
  }

  .homepage-section.row-reverse {
    flex-direction: row-reverse;
  }

  .title-card {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
  }

  .title-card .bucket {
    display: block;
  }

  .title-card h1 {
    font-size: 42px;
    margin-left: -100px;
    -webkit-box-shadow: 0px 0px 75px var(--blue);
    box-shadow: 0px 0px 75px var(--blue);
  }

  .hp_paralax_text {
    font-size: 46px;
    padding: 56px 0;
  }

  .image.clip {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    clip-path: polygon(0% 0%, 50% 0%, 75% 100%, 25% 100%);
  }

  .image.clip-reverse {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    clip-path: polygon(0% 0%, 50% 0%, 75% 100%, 25% 100%);
  }
}

/* ======= sections ======= */

.homepage-section h2 {
  color: var(--blue);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.homepage-section p,
.homepage-section li {
  font-size: 16px;
  color: var(--slate);
}

.homepage-section p {
  text-align: justify;
}

.homepage-section .title {
  font-weight: 900;
  font-size: 16px;
  color: var(--blue);
  margin: 12px 0;
  margin-top: 0;
}

.homepage-section .title::first-letter {
  text-transform: uppercase;
}

.homepage-section ul {
  list-style-type: disc;
  padding-left: 14px;
  font-style: italic;
}

.image {
  display: none;
}

@media screen and (min-width: 768px) {
  .homepage-section .section-tech .tech-text {
    z-index: 10;
    max-width: 350px;
    background-color: var(--white);

    border-radius: 16px;
    padding: 32px;
  }

  .card-shadow,
  .reverse-card-shadow {
    box-shadow: 5px 5px 5px rgba(49, 46, 129, 0.1);
  }
}

@media screen and (min-width: 1024px) {
  .image-description-card {
    z-index: 10;
    max-width: 350px;
    background-color: var(--white);

    border-radius: 16px;
    padding: 32px;
  }

  #homepage-cards .section-tech {
    padding: 64px 0;
  }

  .homepage-section .title {
    margin-top: 0;
  }

  .homepage-section .section-tech {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .homepage-section .flex-end {
    justify-content: flex-end;
  }

  /* right side shadow */
  .card-shadow,
  .image-description-card {
    box-shadow: 20px 20px 20px rgba(49, 46, 129, 0.4);
  }

  /* left side shadow */
  .reverse-card-shadow {
    box-shadow: -20px 20px 20px rgba(49, 46, 129, 0.4);
  }

  .homepage-section h2 {
    font-size: 40px;
  }

  .clip {
    clip-path: polygon(0% 0%, 50% 0%, 75% 100%, 25% 100%);
    transform: scaleX(-1);
  }

  .clip-reverse {
    clip-path: polygon(0% 0%, 50% 0%, 75% 100%, 25% 100%);
  }

  .image {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
  }

  .homepage-section {
    display: flex;
    gap: 32px;
    align-items: center;
  }
}
/* 
#homepage-header {
  background-image: url('/resources/images/Lacuri-si-vopsele-emex.jpg');
} */

.header_img_bg h1::before {
  border-image-width: 8px;
  content: "";
  position: absolute;
  inset: 0;
  padding: 8px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 25%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 1) 100%
  );
  /* -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; */
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}

.header_img_bg h1 {
  font-size: 32px;
  margin: 0px;
  color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  height: 48%;
  padding: 10px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 0px 0px 5px #000000;
  position: relative;
}

@media (min-width: 1440px) {
  .header_img_bg h1 {
    font-size: 50px;
  }
}

.image_homepage_div {
  width: 450px;
  height: 400px;
  --loader-delay-offset: 28ms !important;
  transform: scaleX(-1);
  overflow: hidden !important;
  display: inline-block;
  position: relative;
}

.image_homepage {
  /* transform: scaleX(-1); */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 !important;
  border: none !important;
  display: block;
  height: 0;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 0;
  margin: auto;
  text-size-adjust: 100%;
  width: 450px;
  height: 400px;
  --loader-delay-offset: 28ms !important;
  visibility: visible;
}
