/* tabs */

/* modals */
.modal {
  background-color: rgba(255, 255, 255, 0.85);
}

.modal .modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-direction: column;
  flex-direction: column;

  width: 100%;
  max-width: 400px;
  background-color: var(--white);
  margin: 0 8px;

  box-shadow: 0px 4px 8px 4px rgb(16 113 255 / 30%);
}

.modal .header {
  width: 100%;
  background-color: var(--whitegrey);
  padding: 16px 24px;
  border-radius: 8px 8px 0 0;
}

.underline-hover:hover {
  text-decoration: underline;
}

.modal .content {
  padding: 12px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal .content .form-group {
  margin-bottom: 16px;
}

.modal .header-buttons {
  width: 100%;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.modal .header-buttons .header-button {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  color: var(--white);
  background-color: #4a89dc;

  cursor: default;
  border-bottom: 4px solid #f3b801;
}

.modal .header-buttons .header-button.clickable {
  background-color: #dbe6f9;
  cursor: pointer;
  color: var(--black);
  border-bottom: 2px solid var(--white);
}

.modal .form-group,
#order-page .form-group,
.payment .form-group {
  position: relative;
}

.modal .form-group input,
#order-page .form-group input,
.payment .form-group input {
  border: 1px solid #b5bbc2;
  border-radius: 4px;
  padding: 12px;
}

.modal .form-group label,
#order-page .form-group label,
.payment .form-group label {
  position: absolute;
  top: 0;
  left: 20px;
  background-color: var(--white);
  padding: 0 10px;
  opacity: 1;
  line-height: 0.1;
  color: var(--grey);
  font-size: 14px;
}

.modal .subtext {
  font-size: 16px;
  color: #707c8b;
  font-size: 14px;
  text-align: left;
}

.modal .btn {
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  background-color: #4a89dc;
  color: var(--white);
}

.modal .btn:hover {
  background-color: #6c9ce4;
}

.switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
.switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #f7f7f7;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
.switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
.switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}
.switch input {
  display: none;
}
.switch input:checked + i {
  background-color: #4bd763;
}
.switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}

@media screen and (min-width: 1024px) {
  .modal .content {
    padding: 14px 24px;
  }
}

/* site */

.certificate {
  width: 300px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
}

/* sm - 640px */
@media screen and (min-width: 640px) {
  .certificate {
    width: 400px;
  }
}

/* gdpr page */
.gdpr .content {
  padding: 8px;
  background-color: var(--lightblue);
}

.gdpr h1 {
  font-size: 32px;
}

@media screen and (min-width: 640px) {
  .gdpr .content {
    padding: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .gdpr .content {
    padding: 32px;
  }

  .gdpr h1 {
    font-size: 48px;
  }
}

/* contact */
.contact .grid-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 32px;
}

.contact .grid-2 {
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 1024px) {
  .contact .grid-page {
    -ms-grid-columns: 350px 1fr;
    grid-template-columns: 350px 1fr;
  }
}

.contact a {
  color: var(--blue);
}

.contact .info {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--blue);
}

/* contul meu */
#contul_meu_row .grid-5 {
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(2, 1fr);
}

#contul_meu_row .col-span-5 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

/* cookie notifier */
.cookie-notifier {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  z-index: 1000;
  text-align: center;
  border-top: 2px solid #ff9800;
  background-color: #173647;
}

@media screen and (min-width: 768px) {
  .cookie-notifier .wrap {
    flex-wrap: nowrap;
  }
}

.cookie-notifier p {
  text-align: left;
}

.cookie-btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.cookie-btn {
  width: fit-content;
  padding: 12px 24px;
  text-align: center;
  background-color: var(--white);
  border-radius: 8px;
  white-space: nowrap;
}

.cookie-btn-container .info {
  color: var(--white);
  margin-right: 16px;
}

/* flash-messages [message, success, error */
.flash-messages-container {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  display: flex;
  flex-direction: column;

  /*  */
}

.flash-messages-container .alert-message {
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.flash-messages-container .alert-message * {
  fill: #344054;
}

.flash-messages-container .alert-message-hidden {
  display: none;
}

.flash-messages-container .alert-message-success {
  background-color: var(--green);
}

.flash-messages-container .alert-message-success * {
  color: var(--white);
  fill: var(--white);
}

.flash-messages-container .alert-message-error {
  background-color: var(--red);
}

.flash-messages-container .alert-message-error * {
  color: var(--white);
  fill: var(--white);
}

.flash-messages-container .alert-message-message {
  background-color: var(--blue);
}

.flash-messages-container .alert-message-message * {
  color: var(--white);
  fill: var(--white);
}

/* solicita infos */
.siwst {
  position: fixed;
  right: -142px;
  top: 30vh;

  display: none;
  flex-direction: row;
  align-items: center;

  padding: 8px;
  background-color: var(--blue);
  border-radius: 8px 0 0 8px;

  transition: all 0.3s ease-in-out;
  animation: pulse 2s infinite;
  cursor: pointer;
  z-index: 20;
}

.siwst:hover {
  animation-play-state: paused;
  right: 0;
}

.siwst p {
  color: var(--white);
  margin-left: 8px;
  font-size: 16px;
  cursor: pointer;
}

.siwst .icon {
  background-color: var(--white);
  padding: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.siwst .icon * {
  fill: var(--blue);
}

/* phone icon */
.phone-icon {
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 40px;
  left: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: pulse 2s infinite;
  z-index: 10;
}

.email-icon {
  position: fixed;
  bottom: 40px;
  right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: pulse 2s infinite;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .siwst {
    display: flex;
  }

  .email-icon {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .phone-icon {
    display: none;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(16, 113, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(16, 113, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(16, 113, 255, 0);
  }
}

#contact_light_box_first_h5_div {
  text-align: center;
}

#contact_light_box_first_h5 {
  text-align: center;
}

#contact-lightbox #captchaResult {
  border: 1px solid #009;
  box-shadow: inset 0 0 0 1px cornflowerblue,
    inset 0 2px 3px 0 rgb(0 0 153 / 35%);
}

#contact_light_box_first_h5 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;
  color: #009;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
}

#contact-lightbox .gray-title {
  color: #818181;
}

#contact-lightbox {
  transition: opacity 0.1s ease-in 0s;
  opacity: 1;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  display: inline-block;
  display: none;
  position: fixed !important;
  z-index: 1000;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

.text-gold {
  color: var(--gold);
}

/* ---- new ---- */
.categories-header {
  flex-wrap: wrap;
}

.categories-header .align-end {
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .categories-header {
    flex-wrap: nowrap;
  }

  .categories-header .align-end {
    align-items: flex-end;
    width: fit-content;
  }
}

.header_img_bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  /* background: url("/resources/images/Lacuri-si-vopsele-emex.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0px;
  height: calc(100vw / 3.87);
}

@media screen and (min-width: 1024px) {
  #homepage-header {
    display: block;
  }
  #breadcrumbsContainerMobile {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  #homepage-header {
    display: none;
  }
  #breadcrumbsContainerMobile {
    display: block;
  }
}

#term_cond_header {
  background-image: url("resources/images/Termeni-si-conditii.jpg");
  margin-bottom: 16px;
}

#confidentialitate_header {
  background-image: url("resources/images/Confidentialitate-prelucrare-date.jpg");
  margin-bottom: 16px;
}

#retur_header {
  background-image: url("resources/images/Politica-de-retur.jpg");
  margin-bottom: 16px;
}

#faq_header {
  background-image: url("resources/images/Intrebari-frecvente-header.jpg");
  margin-bottom: 16px;
}

.header_img_bg h1 {
  font-size: 50px;
  margin: 0px;
  color: #ffffff;
  background-size: contain;
  background-repeat: no-repeat;
  height: 48%;
  padding: 10px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 0px 0px 5px #000000;
}

.hibc {
  padding: 30px 100px;
  position: relative;
}

.hibc:before,
.hibc:after {
  content: "";
  width: 100%;
  height: 8px;
  background-color: #ffffff;
  position: absolute;
  left: 0px;
  background: linear-gradient(
    to right,
    white 15%,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 70%,
    white 85%
  );
}

.hibc:after {
  margin-top: 20px;
}

.hibc:before {
  margin-top: -20px;
}

.hibcsc:after,
.hibcsc:before {
  content: "";
  width: 8px;
  height: calc(100% - 20px);
  background-color: #ffffff;
  position: absolute;
  top: 15px;
}

.hibcsc:before {
  left: 0px;
}

.hibcsc:after {
  right: 0px;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}

.autentificare-1 {
  transition: opacity 0.1s ease-in 0s;
  opacity: 0;
  display: none;
  position: fixed !important;
  z-index: 1000;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  width: 100vw;
  height: 100vh;
}

.autentificare-2 {
  display: block;
  height: 0;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 0;
  margin: auto;
}

#tabs-content-big {
  margin-top: 15px;
}

.tabs .btn.active {
  background-color: var(--white);
  border: 1px solid var(--blue);
  outline: none;
  color: var(--blue);
}

#logoutButton {
  padding: 8px;
  /* color: var(--grey); */
  color: var(--grey) !important;
  text-align: center;
  padding: 8px;
  font-size: 1em;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
}

#mobile-sidebar-open-backdrop {
  z-index: 1001;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.marginbottom-0 {
  margin-bottom: 0px;
}

.paddingtop-0 {
  padding-top: 0px;
}

.height-43px {
  height: 43px;
}

/* .col-certifications {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;
}

.certification-item {
  flex: 1;
  text-align: center;
}

.certification-image {
  max-height: 100px;
  width: auto;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .certification-image {
    max-height: 80px;
  }
} */

/* .certification-item {
  float: left;
  width: 30%;
  margin-right: 10%;
  max-width: 18%;
  margin-top: 3%;
} */

.col-certifications {
  margin-left: 50px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}

.certification-item-1 img,
.certification-item-2 img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .desktop-cart {
    display: none;
  }

  .mobile-cart {
    display: flex;
    flex-direction: column;
  }

  .certification-item-1 {
    width: 230px;
    height: 80px;
    margin-top: 5px;
  }

  .certification-item-2 {
    width: 83px;
    height: 83px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .desktop-cart {
    display: table;
  }

  .mobile-cart {
    display: none;
    font-size: 18px;
  }

  .certification-item-1 {
    width: 258px;
    height: 90px;
    margin-top: 5px;
  }

  .certification-item-2 {
    width: 101px;
    height: 102px;
    margin-left: 50px;
  }
}

.quantity-selector {
  background-color: var(--white);
  border: 1px solid var(--lightgrey);
  border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  padding: 4px 8px 6px;
  margin: 0 auto;
}

.quantity-selector-mobile {
  margin: 0 !important;
}

#cart .price {
  font-size: 20px;
  color: var(--blue);
  font-weight: 600;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.order-history:nth-child(even) {
  background-color: #fafafa;
}

.order-history:nth-child(odd) {
  background-color: #e6effb;
}

.popups {
  position: absolute;
  top: 160px;
  width: 100%;
  z-index: 100;
}

.popup {
  background-color: #ffffff;
  padding: 20px 20px;
  border-radius: 8px;
  border: 4px solid #e7ecf2;
  width: 400px;
  margin-bottom: 4px;
  position: unset;
  color: #0b26a5;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -10px 0px 13px -7px #001d4d, 10px 0px 13px -7px #001d4d,
    5px 5px 15px 5px rgb(0 0 0 / 0%);
}

.popup img {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 4px;
}

.categorii-mobile {
  background-color: var(--lightgrey);
  border: 0;
  font-size: 18px;
  color: var(--darkgrey);
  font-weight: 700;
  margin: 0;
  box-shadow: none;
  cursor: pointer;
  box-sizing: border-box;
}
