.pagination button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 12px;
  border: 1px solid var(--white);
  border-radius: 8px;
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  fill: var(--black);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.pagination button:hover {
  border: 1px solid var(--blue);
}

.pagination button.active {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
}

.pagination button:disabled {
  fill: var(--gray);
  cursor: default;
}

.pagination button:disabled:hover {
  border: 1px solid var(--white);
  cursor: default;
}

.pagination .all-pages {
  color: var(--grey);
}

.mobile-produse-buttons {
  margin-top: -50px;
  float: right;
  display: inline-flex;
  position: fixed;
  right: 0;
}

#mobile-menu-produse {
  margin-top: -10px;
}
