.error_message {
  margin-top: 2px;
  font-size: 12px;
  color: var(--red);
  font-weight: bold;
}

.payment .section {
  background-color: var(--whitegrey);
}

.payment h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}

.payment .section .card {
  background-color: white;
  box-shadow: 0px 0px 3px 3px rgba(77, 149, 250, 0.5);
}

.payment .section .card p {
  font-size: 14px;
  width: 70%;
}

.payment .section .star {
  color: var(--red);
  font-size: 20px;
}

.payment .form-group {
  width: 100%;
}

.payment .form-group input {
  width: 100%;
}

.payment table td {
  text-align: center;
}

.payment table td.name {
  text-align: left;
}

.payment .scrollable-x {
  padding: 16px;
  background-color: white;
}

.payment span.total {
  font-size: 28px;
}

.payment .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 70%;
  text-align: center;
}

.payment-container {
  padding: 16px;
}

@media screen and (width < 800px) {
  .payment {
    padding: 0 8px;
  }

  .payment-container {
    padding: 10px;
  }

  .payment amp-img {
    display: none;
  }

  .payment h3 {
    margin-left: 0;
  }

  .payment table td {
    padding: 0;
  }
}

.payment input.form-control:read-only {
  background-color: var(--whitegrey);
}

@media screen and (max-width: 1024px) {
  #cart-secure-payment {
    display: table !important;
  }
  #image-cart-secure-payment {
    display: none;
  }
  .total-general-plata{
    margin-bottom: 16px;
  }
}
