#cart {
  margin-bottom: 40px;
}

#cart h5 {
  max-width: 300px;
  margin: 20px;
  font-size: 14px;
}

#cart td {
  white-space: nowrap;
}

#cart .total {
  justify-items: end;
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.icons-grid .icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px;

  border: 1px solid var(--blue);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icons-grid .icon p {
  font-size: 14px;
  white-space: nowrap;
  color: var(--blue);
}

.icons-grid .icon:hover {
  background-color: var(--blue);
}

.icons-grid .icon:hover p {
  color: var(--white);
}

.icons-grid .icon:hover svg {
  fill: var(--white);
}

.icons-grid .icon:hover svg#pdf {
  fill: var(--blue);
  stroke: var(--white);
}

.product-page .content p {
  margin: 16px 0;
}

@media screen and (min-width: 375px) {
  .icons-grid p {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .icons-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  #cart h5 {
    font-size: 18px;
  }
  .img-container {
    max-height: 500px;
  }

  .featured-image-1 {
    max-height: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .img-container {
    max-height: 300px;
  }

  .featured-image-1 {
    max-height: 300px;
  }
}

.quantity-selector {
  background-color: var(--white);
  border: 1px solid var(--lightgrey);
  border-radius: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  padding: 4px 8px 6px;
}

.quantity-selector button {
  padding: 0 8px;
  cursor: pointer;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.height-ajustment {
  height: 100%;
  border: 1px solid var(--blue);
}

#cart .price {
  font-size: 20px;
  color: var(--blue);
  font-weight: 600;
}

.grey-button {
  font-size: 16px;
  color: var(--darkgrey);
}

.filters {
  background-color: var(--whitegrey);
  padding: 20px 24px;
}

.all-products {
  padding: 0px;
}

.filter {
  font-size: 16px;
  color: var(--black);
}

ul.filter-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter-list .filter {
  font-size: 14px;
}

.filter-count {
  color: var(--grey);
}

.expand[expanded] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.expand .accordion-header {
  color: var(--blue);
  font-weight: 500;
}

.expand .accordion-header span::before {
  content: "Mai multe";
}

.expand[expanded] .accordion-header span::before {
  content: "Mai putine";
}

#filters-form {
  display: none;
}

#accordion-menu-desktop {
  display: none;
}

#accordion-menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#accordion-menu-mobile section {
  transform: translate(0px, 0px);
}

#accordion-menu-mobile #filters-form > div {
  margin-top: -40px;
  float: right;
  display: inline-flex;
  position: fixed;
  right: 0;
}
@media screen and (min-width: 768px) {
  .filters {
    padding: 40px 24px;
  }

  .all-products {
    padding: 0 4px;
  }

  .all-products {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;
  }

  #filters-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #accordion-menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #accordion-menu-mobile {
    display: none;
  }
}

#summary_bill_container {
  display: none;
}

@media screen and (min-width: 1024px) {
  #summary_bill_container {
    display: block;
  }

  #imagine-produs-2 {
    width: 520px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #imagine-produs-3 {
    width: 520px;
  }
}

/* old description style */
html {
  scroll-padding-top: 220px;
}
.iso img,
.mir img {
  width: 100%;
}

.mir {
  max-width: 252px;
  margin: 15px auto;
}
.iso {
  max-width: 272px;
  margin: 10px auto;
}
.btdo {
  border-top: 1px dotted #f90;
}
.bbdo {
  border-bottom: 1px dotted #f90;
}
.product-img {
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
  z-index: 0;
  object-fit: contain;
}
#product_tabs {
  margin-top: 15px;
}
.alineat_span {
  margin-right: 25px;
}
.descript_par {
  text-align: justify;
  padding-right: 0;
  padding-left: 0;
}
.descript_par p {
  /* margin: 16px 0; */
}
.Caracteristici {
  border-bottom: 1px dotted #f90;
  border-top: 1px dotted #f90;
  color: #009;
  font-size: 15px;
  margin-top: 20px;
  padding: 3px 3px 3px 0;
  margin-left: 15px;
  width: 100%;
  max-width: 450px;
  margin-bottom: 16px;
}
.ul-feature,
.ul-feature li {
  /* list-style: url("resources/images/checklist-icon.png") none outside; */
  list-style: url("/resources/general/checklist-icon.png") none outside;
  margin-left: 20px;
}

.attn-text {
  color: #ec0d0d;
}
.lista-links,
.lista-links li {
  list-style: square;
  margin-left: 16px;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
.header_info_bg {
  background-color: #bde7ea;
  color: #009;
}
.prod-right {
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}
.table {
  width: 100%;
  max-width: 100%;
}
.product-name-options-container {
  padding: 0 15px;
}

#product_categories span {
  background-color: #777;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 12px;
}

#voting_wrapper {
  top: -40px;
  position: relative;
}

#pret_value {
  font-size: 15px;
}

#product_tabs {
  margin-top: 15px;
}

.e_i_e_w {
  float: right;
  text-align: center;
  margin-right: 15px;
}
.e_i_e_w div {
  font-size: 11px;
  margin-top: 4px;
  color: #009;
}
.e_i_e_w:hover {
  color: red;
  cursor: pointer;
}
.e_i_e_w a {
  color: inherit;
  text-decoration: none;
  display: block;
}
.e_i_e_w:hover div {
  color: #ff0000;
}
.e_i_e_w:hover i {
  background-position-y: -68px;
}
/* .packaging-info {
  text-align: center;
  margin-top: 10px;
} */
#product_light_box_h5 {
  font-size: 21px;
  text-align: center;
  margin: 45px 0px 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.p_t_h1 {
  margin: 40px 0px 10px 0px;
  position: relative;
  font-size: 40px;
  color: #009;
}
.p_t_h1:after {
  content: "";
  position: absolute;
  width: 50%;
  left: 25%;
  height: 2px;
  top: 110%;
  background-color: #438df1;
  z-index: 1;
}
.lightbox .p_t_h1:after {
  height: 1px;
}

.p-s-i-r {
  width: 14.66%;
  margin: 0 1%;
  float: left;
  transition: transform 400ms ease;
}
.p-s-i-r:hover {
  transform: scale(1.1);
}
.product-similar-image {
  width: 100%;
}
.psl {
  font-size: 13px;
  text-align: center;
  color: #002c7e;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.p-s-i-r:hover .psl {
  color: #fff;
  background-color: #21acfa;
  /* padding: 6px 0px; */
  border-radius: 5px;
  margin-bottom: 0px;
  /* */
}
#s_p_t,
#s_p_t-r {
  font-size: 18px;
  color: #777;
  margin-bottom: 5px;
  padding-left: 32px;
  font-style: italic;
  font-variant-caps: petite-caps;
  text-decoration: underline;
  text-decoration-color: var(--gold);
  text-underline-position: under;
}
#p-s-i-r {
  background-image: url(./resources/images/general/Background-similar.png);
  background-repeat: no-repeat;
  background-position: center;
}
#p-s-i-r-reviews {
  padding-bottom: 10px;
}
#vote_modal_close_btn i {
  font-size: 12px;
}
#pwgw {
  width: 100%;
  gap: 16px;
  display: none;
  -ms-grid-rows: (96px);
  grid-template-rows: repeat(1, 96px);
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 768px) {
  #pwgw {
    display: grid;
  }
}

#pwgw .ratingValue {
  color: black;
  display: contents;
}

.pfr {
  cursor: zoom-in;
}

.product_left_img {
  float: left;
}
.close-wrp {
  position: relative;
}
.pp_close {
  position: absolute;
  right: 4px;
  bottom: 8px;
  text-indent: -10000px;
  width: 30px;
  height: 30px;
  background-image: url("./resources/images/sprite.png");
  display: inline-block;
  background-position: 261px 2px;
  cursor: pointer;
}

.table-tech-data {
  border-collapse: collapse;
  margin-top: 10px;
}
.table-tech-data th,
.table-tech-data td {
  padding: 8px;
  box-sizing: border-box;
}
.table-tech-data td {
  border-top: 1px solid #ddd;
}
.table-tech-data tbody tr:first-of-type td {
  border-top: 0px transparent;
}
.table-tech-data .b-bg td {
  border-top: 0px transparent;
}
.more-information {
  font-weight: bold;
  color: #009;
  background-color: #fff;
  text-decoration: blink;
  margin: 11px;
  border-bottom: 2px solid #f2c21a;
}
#prod_ex_i_w {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#product_order_btn > span {
  display: flex;
  width: 100%;
}
.ordered_products_buttons_mobile#mobile_order_product > span {
  width: 30px;
}
@media (min-width: 992px) {
  .tablet-vote-widget {
    display: none;
  }

  .more-information {
    margin-right: 25px;
  }
  #p-s-i-r {
    margin-bottom: 10px;
  }

  .descript_par {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .product-buttons-tablet {
    width: 50%;
  }
  .vote-widget-no-tablet {
    position: absolute;
    right: -20px;
    width: 40%;
    float: right;
    margin-top: -70px;
  }
  .tablet-view {
    display: -webkit-inline-box;
  }
  .tbw {
    width: 300px;
  }
  .tablet-vote-widget {
    margin-top: 55px;
  }
}
@media (min-width: 1199px) and (max-width: 1250px) {
  #p-s-i-r,
  #p-s-i-r-reviews {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media all and (max-width: 1200px) {
  .more-information {
    position: static;
  }
  .more-information:after {
    display: none;
  }
  img.contain {
    max-height: 300px;
  }
}
@media all and (max-width: 992px) {
  #prod_a_to_w,
  #product_order_btn {
    float: none;
    width: 200px;
  }
  #action_btns_product {
    margin-top: 20px;
  }
  .e_i_e_w {
    float: right;
    text-align: center;
    width: 25%;
    margin-right: 0px;
  }
  .tabButton span {
    font-size: 14px;
  }
  .tabButton em {
    display: none;
  }
  .more-information {
    display: none;
  }
}
@media (max-width: 1200px) and (min-width: 767px) {
  #prod_ex_i_w {
    display: none;
  }
}
@media (max-width: 767px) and (min-width: 450px) {
  .tabButton span {
    margin-top: 7px;
  }
}
@media (max-width: 767px) {
  #getOfferModal {
    width: 86%;
    margin-left: 7%;
    margin-top: -25px;
  }
  #prod_pc_l,
  .lab_produs_attr {
    display: block;
    margin-bottom: 10px;
  }
  .vote-widget-tablet {
    display: none;
  }
  .e_i_e_w {
    margin-left: 1%;
    margin-right: 1%;
    width: 23%;
  }
  #prod_ex_i_w {
    margin-top: 20px;
  }
  #piwr,
  .prdis {
    text-align: center;
  }
  .prdis {
    max-width: 90%;
  }
  #voting_wrapper .pull-left {
    display: none;
  }
  .packaging-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #action_btns_product {
    margin-top: 20px;
  }
  .no_side_paddings_mobile {
    padding-right: 0px;
    padding-left: 0px;
  }
  #p-s-i-r,
  #p-s-i-r-reviews {
    padding-left: 10px;
    padding-right: 10px;
  }
  .p-s-i-r {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    display: block;
    clear: right;
  }
  .p-s-i-r:hover {
    transform: none;
  }
  .p-s-i-r div {
    height: 30px;
  }

  .ul-feature,
  .ul-feature li {
    margin-left: 0px;
    text-align: left;
  }
  .ul-feature {
    padding-left: 30px;
  }
  .p_t_h1 {
    font-size: 5vw;
    margin: 35px 7px 5px;
  }
  .tabButton {
    padding-top: 7px;
  }
  .tabButton span {
    position: relative;
    font-size: 12px;
    width: 100%;
    left: 0px;
    top: 1px;
    padding-left: 0px;
  }
  #p-t-f button {
    padding: 0px;
    height: 30px;
  }
  .tabContent {
    padding: 0px;
  }
  #piwr {
    padding-top: 0px;
  }
  #action_btns_product {
    margin-top: 10px;
  }

  #prod_ex_i_w {
    margin-top: -5px;
  }
  #product_tabs {
    margin-top: 10px;
  }
  #s_p_t,
  #s_p_t-r {
    padding-left: 5px;
  }
  .more-information {
    text-align: left;
  }
  #action_btns_product,
  #prod_ex_i_w {
    margin-top: 20px;
  }
  .e_i_e_w {
    float: right;
    text-align: center;
    width: 25%;
    margin-right: 0px;
  }
  .tabButton span {
    font-size: 14px;
  }
  .p-s-i-r amp-img {
    max-width: 180px;
    margin: 0 auto;
  }
  .prod_color_sel.active {
    display: block;
    border-color: #009;
    box-shadow: inset 0 0 0 1px cornflowerblue,
      inset 0 2px 3px 0 rgba(0, 0, 153, 0.35);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .e_i_e_w {
    margin-left: 1%;
    margin-right: 1%;
    width: 23%;
  }
  #prod_ex_i_w {
    margin-top: 20px;
  }
  #piwr,
  .prdis {
    text-align: center;
  }
  #voting_wrapper .pull-left {
    float: none;
    margin-top: 10px; /*adaugat de andrei */
  }
  .packaging-info {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #action_btns_product {
    margin-top: 20px;
  }
  #p-s-i-r,
  #p-s-i-r-reviews {
    padding-left: 10px;
    padding-right: 10px;
  }
  .p-s-i-r {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    display: block;
    clear: right;
  }
  .p-s-i-r:hover {
    transform: none;
  }
  .p-s-i-r div {
    height: 30px;
  }

  .ul-feature,
  .ul-feature li {
    margin-left: 0px;
    text-align: left;
  }
  .p_t_h1 {
    font-size: 5vw;
    margin: 35px 7px 5px;
  }
  .tabButton {
    padding-top: 7px;
  }
  .tabButton span {
    position: absolute;
    font-size: 12px;
    width: 100%;
    left: 0px;
    top: 1px;
    padding-left: 0px;
  }
  .tabContent {
    padding: 0px;
  }
  #piwr {
    padding-top: 0px;
  }
  #action_btns_product {
    margin-top: 10px;
  }

  #prod_ex_i_w {
    margin-top: -5px;
  }
  #product_tabs {
    margin-top: 10px;
    padding: 0 6px;
  }
  #s_p_t,
  #s_p_t-r {
    padding-left: 5px;
  }
  .more-information {
    text-align: left;
  }
}
@media (max-width: 579px) {
  #product_row_mobile_block {
    display: block;
  }
  #p-s-i-r,
  #p-s-i-r-reviews {
    margin-left: 0px;
    margin-right: 0px;
  }
  .p-r {
    width: 310px;
  }
}
@media (min-width: 450px) {
  #order-product-lightbox > div {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 750px;
  }
}
#order-product-lightbox {
  overflow: scroll;
}
@media (min-width: 900px) {
  #getoffer_modal {
    max-width: 600px;
    margin: calc(50vh - 360px) auto;
  }
  #getoffer_body {
    padding: 0 40px;
  }
  #order-product-lightbox > div {
    min-height: 100vh;
  }
}
.arrow::after {
  content: "\27A4";
  color: #001d4d;
}
/* .icon-button-down {
  border: unset;
  background-color: unset;
  margin-top: 6px;
}
.icon-button-up {
  border: unset;
  background-color: unset;
  padding: 0;
  margin-bottom: 6px;
} */
/* .quantity-icons-container {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
} */
@media (max-width: 450px) {
  .p_t_h1 {
    margin-top: 30px;
  }
  #prod-lightbox .ligim div p {
    font-size: 14px;
  }
  .p-s-i-r div {
    height: 45px;
  }
}
.p-r-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  /*margin-top: 5px;*/
}
.tbw {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.p-r {
  /*display: flex;*/
  align-items: center;
  /*background-color: var(--gold);
  color: #fff;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
   margin-top: 5px;*/
  font-size: 16px;
  font-weight: 600;
  /* color: #ff0000; */
  text-align: center;
  /*padding-top: 2px;*/
  padding-bottom: 2px;
  border-bottom: 1px solid #0b26a5;
  /*max-width: 280px;*/
  margin-top: -6px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  box-shadow: 0 4px 3px -2px #bfa4ea;
}
.description_badge_image {
  max-width: 180px;
  margin-top: 15px;
  float: right;
  width: 30%;
  margin-right: 70px;
}

.curs {
  cursor: pointer;
}
.caps {
  color: #009;
  font-style: italic;
  font-variant-caps: petite-caps;
}
#pret_pre {
  color: #777;
  font-style: italic;
  font-variant-caps: petite-caps;
  text-decoration-color: var(--gold);
}
.mp-sup {
  color: #b93c26;
}
.mp-ral {
  /*color: #a287af;*/
  color: #8205be;
}
/*.attn-mic {
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto;
  text-align: center;
} */
.hr-red {
  border-top: solid 1px #ff0000;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-left: 25px;
}
.tva {
  font-size: 16px;
  color: #69089b;
  margin-bottom: 5px;
  /* margin-top: 3px;*/
}
/* .lista-links-uv {
  list-style: square;
} */
.lista-front {
  list-style-type: square;
  margin-top: 0;
  margin-bottom: 10px;
}
.note {
  font-size: 1rem;
}
/* .atentie {
  display: inline;
  float: left;
  margin-right: 10px;
} */
.hr-line {
  text-align: left;
  margin-top: 0;
  margin-left: 4%;
  margin-bottom: 8px;
  border: none;
  width: 70%;
  height: 1px;
  color: #ccc;
  background-color: #ccc;
}
.attn-underline {
  text-decoration: underline;
  color: #ec0d0d;
}
.subs-attn {
  text-decoration: underline;
}
/* .attn-mixt {
  text-decoration: underline;
  font-style: italic
} */
.h2_lightbox {
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #00ffff;
}
.mark {
  background-color: #f4f3ae;
}
.anim {
  animation: color-change 5s infinite;
}
@keyframes color-change {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: red;
  }
}
.th-center {
  text-align: center;
}
.review {
  font-size: 15px;
  color: #c4c4c4;
  margin-left: 18px;
}
#r_stars {
  padding-left: 25px;
}
.review_star {
  color: #f2b600;
  font-size: 20px;
  margin-right: 2px;
  cursor: pointer;
}
/*#quantity_select {*/
/*width: 83%;*/
/*}*/
/* #quantity_buc {
  width: 17%;
  padding-left: 10px;
  padding-top: 6px;
} */
#s_p_t-r {
  font-size: 15px;
  color: #777;
  border-top: dotted 1px;
  padding-top: 10px;
  border-top-color: #f90;
}
.lab_produs_attr {
  font-size: 16px;
  color: #009;
  font-weight: normal;
}
.prod_quantity_btn {
  height: 40px;
  border: 1px solid #bbb;
  background-color: #fff;
  width: 52px;
  font-size: 13px;
  margin-right: 10px;
  margin-top: 7px;
  border-radius: 5px;
  color: cornflowerblue;
  padding-left: 6px;
  padding-right: 6px;
}
.prod_quantity_btn:hover {
  cursor: pointer;
  border: 1px solid #009;
  color: #009;
}
.prod_quantity_btn.active {
  border: 1px solid #009;
  box-shadow: inset 0 0 0 1px cornflowerblue,
    inset 0 2px 3px 0 rgba(0, 0, 153, 0.35);
}
.prod_color_sel {
  display: none;
  margin-top: 7px;
  border-color: #009;
  box-shadow: inset 0 0 0 1px cornflowerblue,
    inset 0 2px 3px 0 rgba(0, 0, 153, 0.35);
}
.prod_color_sel.active {
  display: block;
}
.prod_color_sel:hover {
  cursor: pointer;
  border: 1px solid #009;
  color: #009;
  box-shadow: none;
}
.prod_color_sel:active {
  display: block;
  border-color: #009;
  box-shadow: inset 0 0 0 1px cornflowerblue,
    inset 0 2px 3px 0 rgba(0, 0, 153, 0.35);
}
.intaritor_inclus {
  display: block;
  font-size: 15px;
  color: var(--blue);
}
.product_price_details {
  display: flex;
  flex-direction: column;
  color: #ff0000;
}
.price_model {
  display: block;
  text-align: center;
  white-space: nowrap;
}
.price_model_product {
  align-items: center;
}
/* .text-center_aa {
  text-align: center;
  color: red;
  padding: 5px;
  margin: 0;
} */
/* .obs-ros {
  width: 90%;
  margin-top: 0;
  margin-bottom: 2px;
  padding-left: 3%;
  padding-right: 3%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid cornflowerblue;
  border-bottom: 1px solid cornflowerblue;
} */
.text-center-v {
  text-align: center;
  color: #263238;
  width: 80%;
  margin: 0 auto;
}
#see_c_pr_b {
  width: 197px;
}
@media (max-width: 450px) {
  .hidden-on-mobile {
    display: none;
  }
  .mt-20-label-prod {
    padding: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 2000px) {
  #al_cantit {
    font-size: 14px;
  }
  #al_cul {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  #al_cantit {
    margin-bottom: 5px;
  }
  #al_cul {
    margin-bottom: 5px;
  }
  .tabButton {
    height: 54px;
  }
  .description_badge_image {
    display: none;
  }
  .Caracteristici {
    margin-left: 0px;
  }
}
#p-t-f button {
  font-size: 16px;
  margin: 0;
}
#p-t-f button.middle {
  margin: 0 2px;
}
#p-t-f {
  display: flex;
  flex-wrap: wrap;
}

#p_tab_1 {
  margin-left: 0px;
  margin-right: 0px;
}
.tabContent.fc {
  padding: 5px 0px;
}
#p_tab_3 {
  margin-right: 0px;
}

.tabs-content {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
.tabs-content > div {
  padding: 10px 20px;
}

@media (max-width: 415px) {
  .tabs-content > div.order_list_products {
    padding: 0;
  }
  div.tabContent {
    padding: 0;
  }
  .comanda_table td {
    font-size: 11px;
  }
}
.tabs-content .col-lg-4,
.tabs-content .col-lg-6,
.tabs-content .col-lg-3 {
  padding: 5px;
}
.tabbable-panel button span {
  padding: 0;
}
.tabbable-panel button {
  width: calc(20% - 3px);
}
.tabs-submit {
  display: flex;
  justify-content: center;
}
.tabs-content h4 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}
.tabs-content .order_product_btn {
  width: 200px;
}
/* .order_products_action_buttons_container {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
.order_products_action_buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 15px;
} */
/* #container-comanda {
  margin-top: 20px;
} */
/* #delivery-radio-buttons,
#payment-options {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 20px auto 0;
  align-items: center;
}
#delivery-radio-buttons .option,
#payment-options .option {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}
.card-icon {
  height: 15px;
  width: auto;
} */

@media all and (max-width: 768px) and (min-width: 451px) {
  .p-r-container {
    margin-top: 20px;
  }
}
/* div.guest_disclaimer {
  padding-top: 0px;
  padding-bottom: 0px;
} */
/* #transport_warning {
  color: tomato;
  font-weight: bold;
} */

/* @media (max-width: 415px) {
  #container_wishlist h2 {
    font-size: 26px;
  }
  #delivery_inputs_container {
    padding: 5px;
  }
} */

.summary-band-container {
  width: 900px;
  background-color: #438df1;
}
.counter-container {
  width: 900px;
  margin-bottom: 20px;
}
.summary-band {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  color: white;
}
.summary-band .first {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 10px;
}
.summary-band .first .title {
  font-size: 14px;
  text-align: right;
}
.summary-band .first .details {
  font-size: 12px;
  text-align: right;
}
.summary-band .second {
  display: flex;
  margin: 0 10px;
}
.summary-band .second .value {
  font-size: 24px;
  font-weight: 500;
}
.summary-band .second .currency {
  font-size: 12px;
  margin-left: 5px;
}
.summary-band .third {
  margin: 0 0 0 10px;
}
.summary-band .third a,
.summary-band .third button {
  cursor: pointer;
}
.summary-band .third button,
#summary-mobile .button-pay {
  background-color: #71c458;
  border: none;
  color: white;
  padding: 8px 20px;
  font-weight: bold;
}
.summary-band > div > a > button,
#summary-mobile .button-bill {
  background-color: rgb(185, 185, 185);
  border: none;
  color: white;
  padding: 8px 20px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 415px) {
  .summary-band {
    padding: 12px 10px;
  }
  .summary-band .third button {
    padding: 8px 10px;
  }
  .summary-band .first,
  .summary-band .second,
  .summary-band .third {
    margin: 0 6px;
  }
  .summary-band .second .value {
    font-size: 20px;
  }
}
/* .summary-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
} */
/* .summary-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
} */
#summary-desktop .placer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.pm_whole {
  font-size: 24px;
  font-weight: bold;
}
.pm_dec {
  font-size: 16px;
  position: relative;
  top: -9px;
  font-weight: bold;
  margin-left: -3px;
}
.pm_cur {
  position: relative;
  left: -16px;
  font-size: 16px;
  font-weight: bold;
}
.price_model_product .pm_cur {
  left: -18px;
}
#op_cost_header {
  text-align: left;
  font-size: 18px;
  margin-bottom: 0px;
}
#summary-desktop {
  display: flex;
  margin-top: 50px;
}
#summary-mobile {
  display: none;
  margin-top: -10px;
  margin-bottom: 20px;
}
#summary-mobile > .summary-title {
  margin: 20px 0 10px;
  text-align: center;
}
#summary-mobile > .summary-title p {
  margin: 5px 0;
}
#summary-mobile .summary-band {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 12px 20px;
}
#summary-mobile .summary-band div {
  width: 100%;
}
#summary-mobile .summary-band .first {
  align-items: flex-start;
  width: 60%;
}
#summary-mobile .summary-band .first .title {
  text-align: left;
}
#summary-mobile .summary-band .second {
  justify-content: flex-end;
  width: 40%;
}
@media (max-width: 415px) {
  #summary-desktop {
    display: none;
  }
  #summary-mobile {
    display: block;
  }
}
#summary-mobile .button-pay,
#summary-mobile .button-bill {
  width: 60%;
  margin: 10px 0;
}
#summary-mobile .buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
#summary-mobile .buttons-container a {
  width: 100%;
  display: flex;
  justify-content: center;
}
#email_error {
  color: red;
  display: none;
  font-size: 12px;
}
#summary_bill_container {
  width: 900px;
  height: 1200px;
  border: 1px solid grey;
}
#summary_bill_container > * {
  width: calc(100% - 100px);
}
@media (max-width: 1000px) {
  #summary_bill_container {
    display: none;
  }
  .summary-band-container {
    width: unset;
  }
  .counter-container {
    display: none;
  }
}

.pr_pl {
  font-size: 16px;
}
#ordered_products .pm_cur {
  left: -22px;
}
#descarca_proforma {
  border: 1px solid #ffffff;
  background-color: #0097bc;
}
#pay_now_btn {
  border: 1px solid #ffffff;
}
/* #organization_bank_account {
  text-transform: uppercase;
} */
#prod_v_p .pm_dec {
  top: 0;
}
#prod_v_p .pm_cur {
  left: 2px;
}
#prod_v_p #pret_value {
  margin-left: 5px;
}
#pwgw #mobile_order_product {
  display: none;
}
#pwgw .opbd {
  display: block;
}

#piwr {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
}
#piwr .col-lg-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#piwr .col-lg-6:nth-child(1) {
  height: auto;
}
#piwr .col-lg-6:nth-child(2) {
  height: fit-content;
}
#piwr .alineat_span {
  margin-right: 0;
}
#piwr.prd_p .alineat_span {
  margin-right: 25px;
}
#piwr p {
  font-size: 14px;
}
#piwr.prd_p p {
  font-size: 16px;
}
.green-mark {
  background-color: #ddfde8;
}
.red-mark {
  color: #bd1616;
  font-size: 16px;
}
.mov-mark{
background-color: #ffefff;
}
.h2_final {
  margin-bottom: -15px;
  margin-top: 45px;
}
@media (max-width: 767px) {
  .h2_final {
    margin-bottom: -15px;
    margin-top: 17px;
  }
}
.ost {
  font-weight: bold;
  font-size: 23px;
}
.osn {
  font-size: 29px;
  border: 3px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-bottom: 33px;
  margin-right: 10px;
}
.ospc {
  margin-bottom: 10px;
}
.ospc:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 35px solid #438df1a1;
  position: absolute;
  left: calc(50% - 41px);
  bottom: -23px;
}
.pr-m-180 {
  max-width: 180px;
}
@media (max-width: 767px) {
  .tooltip .tooltip_text_top {
    margin-left: 0px;
  }
}
.display-initial {
  display: initial;
}
.display-none {
  display: none;
}
#intaritor_pachet {
  font-variant-caps: petite-caps;
  font-size: 16px;
}

.excelent-img {
  width: 100%;
  height: 100%;
  max-width: 368px;
  max-height: 68px;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .produs-logo {
    width: 187px;
    height: 68px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .produs-logo {
    width: 264px;
    height: 68px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1399px) {
  .produs-logo {
    width: 340px;
    height: 68px;
  }
}

@media screen and (min-width: 1400px) {
  .produs-logo {
    width: 363px;
    height: 68px;
  }
}

.produs-logo {
  justify-self: center;
}

amp-img,
amp-lightbox {
  display: none;
}

@media screen and (max-width: 640px) {
  #filters-div {
    display: none;
  }
}

#product-subtitle {
  margin-bottom: 2px;
}

.tva-produs {
  color: #69089b !important;
  /* text-decoration: underline; */
}

.review-star-product {
  color: #f2b600;
}

.text-blue-009 {
  color: #009 !important;
}

.blue-divider:after {
  content: "";
  position: absolute;
  padding-bottom: 3px;
  border-bottom: 1px solid #0b26a5;
  /* width: 50%; */
  bottom: 0;
}

.blue-divider {
  box-shadow: 0 4px 3px -2px #bfa4ea;
  position: relative;
  border-bottom: 1px solid #0b26a5;
  padding-bottom: 3px;
}

.arrow-menu-produse {
  color: gray;
  right: 2px;
  position: absolute;
}

#accordion-menu-desktop {
  position: relative;
}

#accordion-menu-mobile {
  position: relative;
}
.list-mtb-0 {
margin-top: 0px!important;
margin-bottom: 0px!important;
}
.mt-10 {
margin-top: 10px;
}

.lista-links-mt-0,
.lista-links li {
  list-style: square!important;
  margin-left: 16px;
  margin-top: 0!important;
}

.voucher-container {
  display: flex; 
  align-items: center; 
  max-width: 430px; 
  background-color: #f9f9f9; 
  border: 1px solid #e0e0e0; 
  border-radius: 8px; 
  padding: 16px;
  font-family: Arial, sans-serif; 
  gap: 16px; 
  margin: 20px auto 0 auto;
}

.voucher-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #ffe5e5; 
    border-radius: 50%; 
    color: #e53e3e; 
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
}

.voucher-details {
    display: flex;
    flex-direction: column; 
    flex-grow: 1; 
    gap: 8px; 
}

.voucher-title {
    color: #e53e3e; 
    font-size: 18px;
    font-weight: bold;
}

.voucher-code {
    background-color: #e0e0e0; 
    border: 1px dashed #b0b0b0; 
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

       