.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightgrey);
  border-radius: 16px;
  padding: 4px;
}

.product-card .title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #009;
  cursor: pointer;
  transition: all .3s ease-in-out;
  padding: 0 24px;
  font-variant-caps: all-petite-caps;
  line-height: normal;
}
.product-card .title:hover {
  color: var(--red);
}

.image {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.image amp-img {
  width: 100%;
  height: 100%;
}

.product-card .addToWishlistBt:hover {
  background-color: var(--white);
}

.product-card .addToWishlistBt img {
  width: 24px;
  height: 24px;
}

.product-card .addToWishlistBt {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--lightblue);
  border-radius: 50%;
  border: 1px solid var(--blue);
  width: 32px;
  height: 32px;

  top: 8px;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.product-card .stoc-container {
  bottom: 10px;
}

.in-stoc {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 0 16px;
  gap: 8px;
  border: 1px solid var(--othergrey);
  border-radius: 8px;
  background-color: var(--white);
}

.in-stoc p {
  font-size: 14px;
  color: var(--green);
}

.in-stoc.not p {
  color: var(--red);
}

.product-card .rating-text {
  font-size: 12px;
}

.product-card .price p,
.product-list-item .price p {
  font-weight: 600;
  font-size: 14px;
  color: var(--blue);
}

.product-card .price .value,
.product-list-item .price .value {
  font-size: 20px;
}

.product-card .price .unavailable,
.product-list-item .price .unavailable {
  font-size: 18px;
  color: var(--grey);
}

.product-card select {
  position: relative;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--lightgrey);
  padding: 12px;
  appearance: none;
}

.product-card .dropwdown-arrow {
  position: absolute;
  fill: var(--blue);
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}

/* product-list-item */
.product-list-item {
  width: 100%;
  border: 1px solid var(--lightgrey);
  border-radius: 16px;
  flex-wrap: nowrap;
  padding: 16px;
  flex-direction: column;
}

.product-list-item .price {
  width: 300px;
}

.product-list-item .form-container {
  margin: 0;
}

.product-list-item .rating img {
  width: 16px;
  height: 16px;
}

.product-list-item .image-container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  z-index: 1;
}

.product-list-item .image-container {
  height: 180px;
  max-width: 230px;
}

.product-list-item .quantity-form-group {
  max-width: 100px;
}

@media screen and (min-width: 768px) {
  .product-list-item .form-container {
    margin-left: 32px;
  }
}

.product-price-pl {
  padding-left: 12px;
}

.product-rating-pl {
  padding-left: 9px;
}

.header-produse {
  display: flex;
  align-items: center;
}

.header-produse-mobile {
  display: flex;
  align-items: center;
}

.arrow-menu-produse-mobile {
  color: gray;
  right: 2px;
  position: absolute;
}

.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-container > div {
  border:1px solid var(--default-blue);
  border-radius: 8px;
}

.hidden-important {
  display: none !important;
}

#mention-modal-box {
  max-width: 70%;
}
