.font-xl-red,
.font-xl-green {
  font-size: 2em;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 22px;
  text-decoration: underline;
  margin-top: -30px;
  color: #1976d2;
}

.link_color1 {
  color: #009;
}

.alineat_span {
  margin-right: 25px;
}

.h2-style {
  color: #f13627;
  text-decoration: none;
  margin: 0px;
}

.politica p {
  font-size: 16px;
}

.politica p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.politica p,
.politica h2,
.politica h3 {
  padding-left: 5px;
}

.politica ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#ap h2 {
  color: #1976d2;
}

#am h2 {
  color: #ff9800;
}

#ap,
#al,
#am,
#al2,
#ab {
  padding: 15px;
  padding-top: 20px;
}

#ap ul li:before,
#al ul li:before,
#ab ul li:before,
#am ul li:before {
  content: '*';
  color: #f13627;
  font-size: 25px;
  position: relative;
  top: 8px;
  margin-right: 3px;
  right: 6px;
}

#ap ul li,
#al ul li,
#ab ul li,
#am ul li,
#al2 ul li {
  list-style: none;
  margin-left: 40px;
  line-height: 140%;
}

#al ul li:before {
  color: #27ae61;
}

@media screen and (max-width: 767px) {
  #ap ul,
  #al ul,
  #ab ul,
  #am ul,
  #al2 ul {
    padding-left: 0px;
  }
}
