.tabs-selector-row {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  gap: 2px;
}

/* selector buttons */
.tabs-selector-row .btn {
  width: 100%;
  max-height: 30px;
  border: none;
  border-radius: 8px 8px 0px 0px;
  background-color: var(--lightblue);
  color: #009;
  font-size: 9px;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 40px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

amp-selector [option][selected] {
  outline: none;
  cursor: pointer;
}

.tabs-selector-row .btn:hover {
  color: var(--white);
  background-color: var(--oceanblue);
}

/* .tabs-selector-row .btn[selected] {
  background-color: var(--oceanblue);
}

.tabs-selector-row .btn[selected] span {
  color: var(--white);
} */

.tabs-selector-row .btn.selected {
  background-color: var(--oceanblue);
}

.tabs-selector-row .btn.selected span {
  color: var(--white);
}

.tab-content-container {
  width: 100%;
  background-color: var(--lightblue);
  padding: 8px;
  padding-top: 0;
}

.tab-content-container .tab-content {
  padding: 10px;
  background-color: var(--white);
  border-radius: 0 0 8px 8px;
  display: none;
}

.tab-content-container .tab-content.active {
  display: block;
}

@media screen and (min-width: 380px) {
  .tabs-selector-row .btn {
    font-size: 11px;
  }
}

@media screen and (min-width: 768px) {
  .tabs-selector-row .btn {
    max-height: none;
    height: 50px;
    font-size: 16px;
  }
}

/* tabs content design */
.link_color1 {
  color: #009;
}

.alineat_span {
  margin-right: 25px;
}

.h2-style {
  color: #f13627;
  text-decoration: none;
  margin: 0px;
}

.tab-content-container p {
  font-size: 16px;
}

.tab-pane p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.tab-pane p,
.tab-pane h2,
.tab-pane h3 {
  padding-left: 5px;
}

.tab-content-container ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#ap h2 {
  color: #1976d2;
}

#am h2 {
  color: #ff9800;
}

#pagina-4-termeni-conditii h2{
  color: #1976d2;
}

#ap,
#al,
#am,
#al2,
#ab {
  padding: 15px;
  padding-top: 20px;
}

#ap ul li:before,
#al ul li:before,
#ab ul li:before,
#am ul li:before {
  content: "*";
  color: #f13627;
  font-size: 25px;
  position: relative;
  top: 8px;
  margin-right: 3px;
  right: 6px;
}

#ap ul li,
#al ul li,
#ab ul li,
#am ul li,
#al2 ul li {
  list-style: none;
  margin-left: 40px;
  line-height: 140%;
}

#al ul li:before {
  color: #27ae61;
}

@media screen and (max-width: 767px) {
  #ap ul,
  #al ul,
  #ab ul,
  #am ul,
  #al2 ul {
    padding-left: 0px;
  }
}
