@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/vendor/filament/filament/resources/css/theme.css"; 
@import "/vendor/awcodes/filament-curator/resources/css/plugin.css";
@import "cropperjs/dist/cropper.css";

@layer base {
    :root.dark {
        color-scheme: dark;
    }
}

main.fi-main {
    max-width: unset;
}

.fi-wi-stats-overview-stat {
    color: red;
}

aside {
    width: 250px !important;
}

.fi-ta-image img {
    height: 100px
}